<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flasked Altair</title>
    <meta charset="utf-8">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <script src="https://vega.github.io/datalib/datalib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker-module-ranges/dist/index.js"></script>
  </head>
  <body>

      <div class="charts text-center">
          <div class="row"><div class="alert alert-info" id="tzwarn" style="display:none;"></div></div>
          <div class="row"><div id="litepicker"></div></div>
          <div class="row"><div id="myChart"></div></div><hr>
      </div>

    <!-- Render Charts -->
    <script type="text/javascript">

      let vegaView;

      function embedAndLoad(chartSpecsPath, dataPath, elementId) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: true, editor: true},
        };

        vegaEmbed("#"+elementId, chartSpecsPath, opt)
        .then(function (result) {
          // result.view is the Vega View, chartSpecsPath is the original Vega-Lite specification
          vegaView = result.view;
          updateData(dataPath, datasetName, null, null, picker);
        });
      }

      var datasetName = "my dataset name"
      var sensorId = 0
      chartSpecsPath = "/chart/simple bar chart/" + datasetName
      dataPath = "/sensor/" + sensorId + "/processes"
      elementId = "myChart"
<!--      dataPath = "/sensor/" + sensorId + "/data"-->
      embedAndLoad(chartSpecsPath, dataPath, elementId);

      var currentStartDate = currentEndDate = new Date();

      function updateView(vegaView, dataset, toInsert, toRemove) {
        // define what should be inserted and/or deleted, then change the view's dataset
        var changeSet = vega.changeset().remove(toRemove).insert(toInsert);
        vegaView.change(dataset, changeSet).resize().run(); // change the dataset
      }

      function updateData(dataPath, dataset, startDate=null, endDate=null, picker=null) {
        // Date range not set or outside of current one -> replace current data

        if (startDate >= currentEndDate || endDate <= currentStartDate || startDate == null || endDate == null) {
          queryStartDate = (startDate != null) ? (startDate.toDateString()) : (null)
          queryEndDate = (endDate != null) ? (endDate.toDateString()) : (null)
          $.getJSON( dataPath, {
            startDate: queryStartDate,
            endDate: queryEndDate,
            timezone: jstz.determine().name()
          }, function( data ) {
            if ((startDate == null || endDate == null) && picker != null && data.length != 0) {
              picker.setStartDate(data[0].dt);
              picker.setEndDate(data[data.length-1].dt);
<!--              picker.setDateRange(data[0].dt, data[data.length-1].dt);-->
              picker.gotoDate(data[0].dt);
            };
            updateView(vegaView, dataset, data, vega.truthy)
          });
        } else {
          // Current dataset overlaps with new one ― delete and append accordingly

          if (startDate > currentStartDate) {
            // Delete data on left side
            updateView(vegaView, dataset, null, d => (d.dt < startDate))
          } else if (startDate < currentStartDate) {
            // Append data on left side
            queryStartDate = (startDate != null) ? (startDate.toDateString()) : (null)
            queryEndDate = (currentStartDate != null) ? (currentStartDate.toDateString()) : (null)
            $.getJSON( dataPath, {
              startDate: queryStartDate,
              endDate: queryEndDate,
              timezone: jstz.determine().name()
            }, function( data ) {
                updateView(vegaView, dataset, data)
            });
          };

          if (endDate < currentEndDate) {
            // Delete data on right side
            updateView(vegaView, dataset, null, d => (d.dt >= endDate))
          } else if (endDate > currentEndDate) {
            // Append data on right side
            queryStartDate = (currentEndDate != null) ? (currentEndDate.toDateString()) : (null)
            queryEndDate = (endDate != null) ? (endDate.toDateString()) : (null)
            $.getJSON( dataPath, {
              startDate: queryStartDate,
              endDate: queryEndDate,
              timezone: jstz.determine().name()
            }, function( data ) {
              updateView(vegaView, dataset, data)
            });
          }
        }
        currentStartDate = startDate;
        currentEndDate = endDate;
      }

      var picker = new Litepicker({
          element: document.getElementById('litepicker'),
          autoRefresh: true,
          moduleRanges: true,
          showWeekNumbers: true,
          numberOfMonths: 2,
          numberOfColumns: 2,
          inlineMode: true,
          moveByOneMonth: true,
          singleMode: false,
          dropdowns: {
              years: true,
              months: true,
          },
          format: 'YYYY-MM-DD\\T00:00:00',
          onSelect(startDate, endDate) {
              endDate.setDate(endDate.getDate() + 1);
              updateData(dataPath, datasetName, startDate, endDate, this);
          }
      });

      $.fn.multiline = function(text){
          this.text(text);
          this.html(this.html().replace(/\n/g,'<br/>'));
          return this;
      }

      $(document).ready(function () {
        $.getJSON( "/sensor/" + sensorId, {
        }, function( data ) {
          if (data.timezone != jstz.determine().name()) {
            $("#tzwarn").show().multiline("Please note that the sensor data you are viewing is located in a different timezone.\nTo view the data from a local perspective, set your locale timezone to " + data.timezone + ".");
          }
          picker.setOptions({
            dropdowns: {
                minYear: new Date(data.time_range.start).getFullYear(),
                maxYear: new Date(data.time_range.end).getFullYear(),
            },
          });
        });
      });

    </script>

  </body>
</html>
