{% extends "base.html" %}

{% set active_page = "tasks" %}

{% block title %} Task listing {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div id="alert-fixed" class="alert alert-error">
            <strong>Warning!</strong> Selection pauses information refresh
        </div>
    </div>
    <div class="row on-top-md">
        <div class="col-md-2">
            <div class="header-action-button rq-style">
                <div class="">
                    <form action="{{rq_url_prefix}}{{ current_instance }}/view/queues" method="get">
                        <button class="btn btn-sm btn-responsive btn-info {% if active_tab == 'queues'%} active {% endif %}" type="submit">Queues</button>
                    </form>
                </div>
                <div class="">
                    <form action="{{rq_url_prefix}}{{ current_instance }}/view/jobs" method="get">
                        <button class="btn btn-sm btn-responsive btn-info {% if active_tab == 'jobs'%} active {% endif %}" type="submit">Jobs</button>
                    </form>
                </div>
                <div class="">
                    <form action="{{rq_url_prefix}}{{ current_instance }}/view/workers" method="get">
                        <button class="btn btn-sm btn-responsive btn-info {% if active_tab == 'workers'%} active {% endif %}" type="submit">Workers</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="rq-style col-md-8">

            <div class="card">

                {% block content %}{% endblock %}

            </div>

            <div id="confirmation-modal" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Do you really want to <span id="confirmation-modal-action"></span>?</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="confirmation-modal-no" class="btn">No</button>
                            <button type="button" id="confirmation-modal-yes" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% block footer %}{% endblock %}

{% endblock%}

{% block scripts %}

{#- Custom JS for rq dashboard -#}
<script src="{{ url_for('rq_dashboard.static', filename='js/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('rq_dashboard.static', filename='js/underscore-umd-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('rq_dashboard.static', filename='js/sugar-1.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('rq_dashboard.static', filename='js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    {% include "rq_dashboard/inline_js.html" %}
    {% block content_scripts %}{% endblock %}
    {% include "rq_dashboard/update_links.js" %}
</script>

{% endblock scripts %}
