data
instance
venv

.cache
.pytest_cache/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

bvp/ui/static/documentation
bvp/DevelopmentConfig.py
bvp/tests/TestingConfig.py
documentation/img/screenshot_*
