build
dist

raw_data
instance
*venv/
.eggs
.env
.vscode
!.vscode/settings.json
!.vscode/spellright.dict
.coverage.*
.mypy_cache/
*.rdb
*.rdb.settings
*.pickle
.idea/

.env-flexmeasures/
flexmeasures.egg-info
flexmeasures.log*
*.csv

.cache
__pycache__
.pytest_cache/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

flexmeasures/ui/static/documentation
documentation/img/screenshot_*
documentation/_autosummary/
generic_asset_fm_user_ownership.sql

uml_diagram.png
db_schema.png

.coverage
htmlcov
test/*
profile_reports/*

pyproject.toml
poetry.lock
.venv
.vscode/

.DS_Store

.gitconfig.*

/postgres-data
coverage.lcov