raw_data
instance
venv
.eggs
.env
.vscode
.coverage.*
.mypy_cache/
*.rdb
*.rdb.settings

.env-bvp/
bvp.egg-info
bvp.log*

.cache
__pycache__
.pytest_cache/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

bvp/ui/static/documentation
bvp/development_config.py
bvp/testing_config.py
documentation/img/screenshot_*
migrations/dumps
