repos:
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1  # New version tags can be found here: https://github.com/pycqa/flake8/tags
    hooks:
      - id: flake8
        name: flake8 (code linting)
  - repo: https://github.com/psf/black
    rev: 24.8.0  # New version tags can be found here: https://github.com/psf/black/tags
    hooks:
      - id: black
        name: black (code formatting)
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'
