{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{ asset.name }} - Scenario {% endblock %}

{% block divs %}

{% block breadcrumbs %} {{ super() }} {% endblock %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 on-top-md">

        </div>

        <div class="col-md-8">
            <div class="row mt-3">
                <!-- Left Column -->
                <div class="col-5">
                    <div id="flexmodelContainer">
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-7">
                    <div class="">
                        <!-- Loading Spinner -->
                        <div id="spinnerElement" class="d-flex justify-content-center align-items-center mb-2"
                            style="height: 50vh; display: none !important;">
                            <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <!-- Settings -->
                        <div>
                            <div class="row">
                                <div class="col-10">
                                    <select class="form-select" id="flexSelect">
                                        <option value="blank">Select flex-model field to add</option>
                                    </select>
                                </div>
                                <div class="col-2 p-0">
                                    <button class="btn btn-secondary btn-md" onclick="addFlexModelField()">Add
                                        Field</button>
                                </div>
                            </div>

                            <div id="flexInfoContainer" class="mt-3"></div>
                        </div>

                        <hr class="border border-dark" />

                        <div id="flexOptionsContainer" class="mt-3"></div>

                        <div id="sensorsSearchResults" class="row mt-3" style="display: none;"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>
</div>

<script type="module" type="text/javascript">

    import {
        getFlexFieldTitle, renderFlexFieldOptions, renderSensor,
        createReactiveState, processResourceRawJSON, getAsset,
        getAccount, getSensor, apiBasePath, renderSensorSearchResults
    } from "{{ url_for('flexmeasures_ui.static', filename='js/ui-utils.js') }}?v={{ flexmeasures_version }}";


    const typeOne = [Boolean];
    const typeTwo = [Object];
    const typeThree = [String, Object];
    const typeFour = [Array];

    const sensorsApiUrl = `${apiBasePath}/api/v3_0/sensors?page=1&per_page=100&asset_id={{ site_asset.id }}`;
    const senSearchResEle = document.getElementById("sensorsSearchResults")

    const assetFlexModelSchema = {
        "soc-min": null,
        "soc-max": null,
        "soc-minima": null,
        "soc-maxima": null,
        "soc-targets": null,
        "state-of-charge": null,
        "soc-gain": [],
        "soc-usage": [],
        "roundtrip-efficiency": null,
        "charging-efficiency": null,
        "discharging-efficiency": null,
        "storage-efficiency": null,
        "prefer-charging-sooner": null,
        "prefer-curtailing-later": null,
        "power-capacity": null,
        "consumption-capacity": null,
        "production-capacity": null,
    }

    const FlexModelFieldValidTypes = {
        "soc-min": typeThree,
        "soc-max": typeThree,
        "soc-minima": typeTwo,
        "soc-maxima": typeTwo,
        "soc-targets": typeTwo,
        "state-of-charge": typeOne,
        "soc-gain": typeFour,
        "soc-usage": typeFour,
        "roundtrip-efficiency": typeThree,
        "charging-efficiency": typeThree,
        "discharging-efficiency": typeThree,
        "storage-efficiency": typeThree,
        "prefer-charging-sooner": typeOne,
        "prefer-curtailing-later": typeOne,
        "power-capacity": typeThree,
        "consumption-capacity": typeThree,
        "production-capacity": typeThree,
    };

    const assetFlexModelFieldDesc = {
        "soc-min": "A constant lower boundary for all values in the schedule (defaults to 0).",
        "soc-max": null,
        "soc-minima": null,
        "soc-maxima": null,
        "soc-targets": null,
        "state-of-charge": null,
        "soc-gain": [],
        "soc-usage": [],
        "roundtrip-efficiency": null,
        "charging-efficiency": null,
        "discharging-efficiency": null,
        "storage-efficiency": null,
        "prefer-charging-sooner": "Tie-breaking policy to apply if conditions are stable, which signals a preference to charge sooner rather than later (defaults to True). It also signals a preference to discharge later. Boolean option only.",
        "prefer-curtailing-later": null,
        "power-capacity": null,
        "consumption-capacity": null,
        "production-capacity": null,
    }


    document.addEventListener('DOMContentLoaded', async function () {
        let assetFlexModelRawJSON = '{{ asset_flexmodel | safe}}';
        assetFlexModelRawJSON = Object.assign({}, assetFlexModelSchema, processResourceRawJSON(assetFlexModelSchema, assetFlexModelRawJSON));
        let availableUnitsRawJSON = "{{ available_units | safe }}";
        availableUnitsRawJSON = availableUnitsRawJSON.replace(/'/g, '"');
        const availableUnits = JSON.parse(availableUnitsRawJSON);

        const flexOptionsContainer = document.getElementById('flexOptionsContainer');
        const flexmodelContainer = document.getElementById('flexmodelContainer');
        const flexInfoContainer = document.getElementById('flexInfoContainer');

        const [getFlexModel, setFlexModel] = createReactiveState(assetFlexModelRawJSON, renderFlexModelForm);
        const [activeCard, setActiveCard] = createReactiveState(null);


        function setCardSensor(sensorId) {
            if (!activeCard()) {
                showToast("Please select a field to set a sensor", "info");
                return;
            }

            if (!sensorId) {
                return;
            }

            const card = activeCard();
            const name = card.id.replace('-control', '');
            const flexModel = getFlexModel()
            const value = flexModel[name];
            flexModel[name] = { "sensor": sensorId };

            setFlexModel(flexModel);
        }

        async function searchSensors() {
            const searchValue = searchSensflexModelSensorSearchors.value.toLowerCase();
            spinnerElement.style.display = 'flex';
            senSearchResEle.style.display = 'none';
            const flexUnitsSelectValue = flexUnitsSelect.value;

            const params = new URLSearchParams();

            if (searchValue) {
                params.append('filter', searchValue);
            }

            if (flexCheckBox.checked) {
                params.append('include_public_assets', true);
            }

            if (flexUnitsSelectValue !== "null") {
                params.append('unit', flexUnitsSelectValue);
            }

            const apiUrl = `${sensorsApiUrl}&${params.toString()}`;

            try {
                const response = await fetch(apiUrl);

                if (!response.ok) {
                    throw new Error('Failed to fetch sensors');
                }

                const responseData = await response.json();
                const filteredSensors = responseData.data;

                // Render the fetched sensors
                renderSensorSearchResults(filteredSensors, senSearchResEle, setCardSensor);

                spinnerElement.classList.add('hidden-important');
                senSearchResEle.style.display = 'block';
            } catch (error) {
                // Ensure 'response' is defined if you try to access response.statusText
                const errorMessage = error?.message || error?.error || (response ? response.statusText : 'Unknown error');
                showToast(`Failed to search sensors: ${errorMessage}`, "error");
            }
        }

        async function updateFlexModel() {
            const apiURL = apiBasePath + "/api/v3_0/assets/{{ asset.id }}";
            let data = getFlexModel();

            // Clean null values
            for (const [key, value] of Object.entries(data)) {
                if (value === null) {
                    delete data[key];
                }
            }

            const requestBody = JSON.stringify({ flex_model: JSON.stringify(data) });

            const response = await fetch(apiURL, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                },
                body: requestBody,
            });

            if (!response.ok) {
                const errorData = await response.json();
                const errorMessage = errorData?.message || errorData?.error || response.statusText;
                showToast(`Failed to update the flex model: ${errorMessage}`, "error");

                // Revert to previous state
                // const asset = await getAsset("{{ asset.id }}", false);
                // const previousFlexContext = await processResourceRawJSON(assetFlexModelSchema, asset.flex_context);
                // assetFlexContext = previousFlexContext;
                // renderFlexModelForm();
            } else {
                showToast("Flex model updated successfully", "success");
            }
        }

        async function renderSelectInfoCards(modelKey) {
            if (modelKey) {
                flexInfoContainer.innerHTML = `
                <div>
                    <div class="alert alert-info" role="alert">
                        <b> About ${getFlexFieldTitle(modelKey)}
                        <div class="pt-2 fw-normal">
                            ${assetFlexModelFieldDesc[modelKey] || "No description available."}
                        </div>
                    </div>
                </div>
            `;
            } else {
                flexInfoContainer.innerHTML = "";
            }
        }

        async function addFlexContextField() {
            const fieldName = flexSelect.value; // value from the select dropdown
            if (fieldName === "blank") {
                showToast("Please select a field to add", "error");
                return;
            }
            assetFlexContext[fieldName] = "";
            flexOptionsContainer.innerHTML = "";
            await renderFlexModelForm(); // rendering here so the card with the 'border-on-click' class is updated/exists
            const card = document.getElementById(`${fieldName}-control`);
            selectFlexField(card);
        }

        async function renderCarouselCards(cardValues) {
            const scrollContainer = document.createElement('div');
            scrollContainer.className = 'row flex-row flex-nowrap';
            scrollContainer.style.overflowY = 'auto';

            cardValues.forEach(async (value, index) => {
                const isFixed = typeof value === "string"
                const isKeyValueObject = typeof value === "object" &&
                    value !== null &&
                    !Array.isArray(value) && // Exclude arrays
                    Object.keys(value).length > 0;

                const card = document.createElement('div');
                card.className = 'col-10 d-flex border rounded m-1 justify-content-center flex-column';
                card.style.padding = '5px 15px';
                const cardHighlight = document.createElement('div');
                cardHighlight.className = 'card-highlight';
                const cardContentContainer = document.createElement('div');
                cardContentContainer.className = 'd-flex justify-content-between align-items-center';

                const component = document.createElement('div');

                if (isKeyValueObject) {
                    const sensor = await renderSensor(value.sensor);
                    component.innerHTML = sensor;
                } else if (isFixed) {
                    component.innerHTML = `<p class="card-text fs-4">${value}</p>`;
                } else {
                    showToast(`Invalid value type for card: ${value}`, "error");
                    return;
                }

                const closeIcon = document.createElement('i');
                closeIcon.className = 'fa fa-times';
                closeIcon.setAttribute('data-bs-toggle', 'tooltip');
                closeIcon.setAttribute('data-bs-placement', 'top');
                closeIcon.setAttribute('title', 'Remove');
                closeIcon.style.cursor = 'pointer';
                closeIcon.onclick = function () { };

                cardContentContainer.appendChild(component);
                cardContentContainer.appendChild(closeIcon);
                cardHighlight.appendChild(cardContentContainer);

                card.appendChild(cardHighlight);
                scrollContainer.appendChild(card);
            });

            return scrollContainer;
        }

        async function renderFlexModelFieldCard(name, value) {
            const card = document.createElement('div');
            card.className = 'card m-1 mt-0';
            card.id = `${name}-control`;

            card.onclick = function () {
                if (card.classList.contains('border-on-click')) {
                    if (event.target.closest('.card-close-icon')) {
                        // trigger the close icon's onclick function
                        if (activeCard() && activeCard().id === card.id) {
                            setActiveCard(null); // Deselect if the same card is clicked again
                            card.classList.remove('border-on-click'); // Remove the border class
                        }
                        card.remove(); // Remove the card from the DOM
                        const flexModel = getFlexModel();
                        if (Array.isArray(flexModel[name])) {
                            flexModel[name] = [];
                        } else {
                            flexModel[name] = null;
                        }

                        setFlexModel(flexModel); // Update the state
                        renderFlexFieldOptions(assetFlexModelSchema, getFlexModel()); // Re-render the select options
                        showToast(`Field "${getFlexFieldTitle(name)}" has been unset`, "success");
                        return;
                    }

                    if (activeCard() && activeCard().id === card.id) {
                        setActiveCard(null); // Deselect if the same card is clicked again
                        card.classList.remove('border-on-click'); // Remove the border class
                    }
                    return;
                }

                const allCards = document.querySelectorAll('.card');
                allCards.forEach(c => c.classList.remove('border-on-click'));
                card.classList.add('border-on-click');
                setActiveCard(card); // Set the active card
                renderFlexInputOptions(); // Render the input options for the selected field
                renderSelectInfoCards(name); // Render the info card for the selected field
            }

            const isString = typeof value === "string";
            const isArray = Array.isArray(value);
            const isBool = typeof value === "boolean";
            const isNumber = typeof value === "number";
            const isKeyValueObject = typeof value === "object" &&
                value !== null &&
                !Array.isArray(value) && // Exclude arrays
                Object.keys(value).length > 0;
            card.innerHTML = `
                <div class="card-highlight">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">${getFlexFieldTitle(name)}</h5>
                        <i class="fa fa-times card-close-icon"
                            onclick=""
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Unset this field"
                            style="cursor: pointer;"
                        ></i>
                    </div>

                    ${isKeyValueObject ? await renderSensor(value["sensor"]) : ''}
                    ${isBool ? `<i>${String(value).charAt(0).toUpperCase() + String(value).slice(1)} </i>` : ''}
                    ${isNumber || isString ? `<p class="card-text fs-4">${value}</p>` : ''}
                </div>
            `;

            if (isArray) {
                const carouselCards = await renderCarouselCards(value);
                card.querySelector('.card-highlight').appendChild(carouselCards);
            }
            flexmodelContainer.appendChild(card);
            return card;
        }

        async function renderFlexModelForm() {
            flexOptionsContainer.innerHTML = "";
            flexmodelContainer.innerHTML = "";
            const assetFlexModel = getFlexModel();
            for (const [key, value] of Object.entries(assetFlexModel)) {
                if (value !== null) {
                    if (Array.isArray(value) && value.length > 0) {
                        const card = await renderFlexModelFieldCard(key, value);
                    } else if (!Array.isArray(value)) {
                        const card = await renderFlexModelFieldCard(key, value);
                    }
                }
            }
        };

        function renderDataTypeComponents(dataType, activeTab) {
            console.log("renderDataTypeComponents", dataType, activeTab);
            const card = activeCard();
            const name = card.id.replace('-control', '');
            const flexModel = getFlexModel()
            const value = flexModel[name];

            let tabType;

            if (dataType == Boolean) {
                tabType = 'bool';
            } else if (dataType == Object) {
                tabType = 'object';
            } else if (dataType == String) {
                tabType = 'string';
            } else {
                return [null, null]; // Unsupported data type
            }

            const tab = document.createElement('li');
            tab.className = 'nav-item';
            tab.setAttribute('role', 'presentation');
            const btn = document.createElement('button');
            btn.className = `nav-link ${activeTab ? "active" : ""}`;
            btn.setAttribute('data-bs-toggle', 'pill');
            btn.setAttribute('data-bs-target', `#pills-${tabType}`);
            btn.setAttribute('type', 'button');
            btn.setAttribute('role', 'tab');
            btn.setAttribute('aria-controls', `pills-${tabType}`);
            btn.setAttribute('aria-selected', activeTab ? "true" : "false");

            // Add tab to the tab list
            tab.appendChild(btn);

            // Tab Content
            const tabContent = document.createElement('div');
            tabContent.id = `pills-${tabType}`;
            tabContent.className = `tab-pane rounded-bottom ${activeTab ? "fade show active" : ""}`;
            // inline style
            tabContent.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.1)';
            tabContent.style.border = '1px solid #0000002d';
            tabContent.setAttribute('role', 'tabpanel');
            tabContent.setAttribute('aria-labelledby', `pills-${tabType}-tab`);


            if (dataType == Boolean) { // Boolean Tab =================
                btn.textContent = 'Boolean';
                const boolTabContentSaveBtn = document.createElement('button');
                boolTabContentSaveBtn.className = 'btn btn-secondary btn-sm me-2 mt-2';
                boolTabContentSaveBtn.textContent = 'Set Value';
                boolTabContentSaveBtn.onclick = function () {
                    const checkbox = document.getElementById('flexBoolInput');
                    flexModel[name] = checkbox.checked;
                    setFlexModel(flexModel);
                    updateFlexModel();
                };
                tabContent.innerHTML = `
                    <div class="flex-input-group mb-1 p-2">
                        <label for="fixed-value" class="form-label">Value for <b>${getFlexFieldTitle(name)} </b>
                            <i class="fa fa-info-circle ps-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Set a fixed value for this field. If the field is a boolean, it will be set to true or false."
                            ></i>
                        </label>
                        <div class="form-check form-switch">
                            <input class="form-check-input ps-1" style="transform: scale(1.5); margin-left: -2.1em !important" type="checkbox" id="flexBoolInput" ${value ? 'checked' : ''} />
                        </div>
                    </div>
                `;
                tabContent.querySelector('.flex-input-group').appendChild(boolTabContentSaveBtn);
            } else if (dataType == Object) { // Object/Senosr Tab =================
                btn.textContent = 'A Sensor';

                tabContent.innerHTML = `
                    <div class="flex-input-group mb-1 p-2">
                        <label for="flexSensorInput" class="form-label">Select a Sensor for <b>${getFlexFieldTitle(name)} </b>
                            <i class="fa fa-info-circle ps-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Select a sensor to link with this field. The sensor will be used to provide data for this field."
                            ></i>
                        </label>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBox">
                            <label class="form-check-label" for="flexCheckBox">
                                Include Public Assets
                            </label>
                        </div>
                        
                        <div class="row">
                            <div class="col-8  pe-1">
                                <input
                                type="text"
                                id="searchSensflexModelSensorSearchors"
                                class="form-control"
                                placeholder="Search sensors..."
                                />
                            </div>
                            <div class="col-4 ps-0">
                                <select id="flexUnitsSelect" class="form-select">
                                    <option value="${null}" selected>Units</option>
                                    ${availableUnits.map(unit => '<option value="' + unit + '">' + unit + '</option>').join('')}
                                </select>
                            </div>
                        </div>
                    </div>
                `;
            } else if (dataType == String) { // String Tab =================
                btn.textContent = 'Fixed Value';
                tabContent.id = 'pills-string';
                tabContent.setAttribute('aria-labelledby', 'pills-string-tab');

                const stringTabContentSaveBtn = document.createElement('button');
                stringTabContentSaveBtn.className = 'btn btn-secondary btn-sm me-2 mt-2';
                stringTabContentSaveBtn.textContent = 'Set Value';
                stringTabContentSaveBtn.onclick = function () {
                    const input = document.getElementById('flexStringInput');
                    flexModel[name] = input.value;
                    setFlexModel(flexModel);
                    updateFlexModel();
                };

                tabContent.innerHTML = `
                    <div class="flex-input-group mb-1 p-2">
                        <label for="fixed-value" class="form-label">Value for <b>${getFlexFieldTitle(name)} </b>
                            <i class="fa fa-info-circle ps-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Set a fixed value for this field. If the field is a boolean, it will be set to true or false."
                            ></i>
                        </label>
                        <input type="text" class="form-control" id="flexStringInput" value="${typeof value === 'string' ? value : ''}" />
                    </div>
                `;

                tabContent.querySelector('.flex-input-group').appendChild(stringTabContentSaveBtn);
            } else if (dataType == Array) { // Array Tab =================
                // pass
            } else {
                return [null, null];
            }

            return [tab, tabContent];
        }

        async function renderFlexInputOptions() {
            const card = activeCard();
            if (!card) {
                showToast(`Cant render input options without a selcted Field`, "info");
                return;
            }

            const name = card.id.replace('-control', '');
            const fieldDataTypes = FlexModelFieldValidTypes[name];

            // main tab components contianer
            const tabsContainer = document.createElement('div');
            tabsContainer.className = 'card-header';
            // tab headers
            const tabHeaders = document.createElement('ul');
            tabHeaders.className = 'nav nav-tabs card-header-tabs';
            tabHeaders.setAttribute('role', 'tabHeaders');
            // tab contents
            const tabContent = document.createElement('div');
            tabContent.className = 'tab-content';


            fieldDataTypes.forEach((type, index) => {
                const activeTab = (index === 0);
                const [boolTabheader, boolTabContent] = renderDataTypeComponents(type, activeTab)
                if (boolTabheader && boolTabContent) {
                    tabHeaders.appendChild(boolTabheader);
                    tabContent.appendChild(boolTabContent);
                } else {
                    showToast(`Invalid data type for field: ${getFlexFieldTitle(name)}`);
                    return;
                }
            });

            // setup headers and contents in container
            tabsContainer.appendChild(tabHeaders);
            tabsContainer.appendChild(tabContent);

            flexOptionsContainer.innerHTML = ""; // Clear previous content
            flexOptionsContainer.appendChild(tabsContainer);

            const flexCheckBox = document.getElementById('flexCheckBox');
            const searchSensflexModelSensorSearchors = document.getElementById('searchSensflexModelSensorSearchors');
            const flexUnitsSelect = document.getElementById('flexUnitsSelect');

            flexCheckBox.addEventListener('change', searchSensors);
            searchSensflexModelSensorSearchors.addEventListener('input', searchSensors);
            flexUnitsSelect.addEventListener('change', searchSensors);

        }

        renderFlexFieldOptions(assetFlexModelSchema, getFlexModel());
        renderFlexModelForm();
    });
</script>

{% endblock %}