{% extends "base.html" %}

{% set active_page = page %}

{% block title %} Error {% if error_description %}:{% endif %} {{ error_description }} {% endblock %}

{% block divs %}

<div class="container-fluid">

  <h1 class="display-4 mb-4">Sorry, something went wrong :(</h1>

  <p>{{ error_description }}</p>
  <p class="alert alert-danger" role="alert">
    {{ error_class }} {% if error_class %}:{% endif %} "{{ error_message }}"
  </p>
  <p>
    You might want to try to:
    <a href="#" onclick="window.history.back()" class="btn btn-secondary me-2">Go back</a> or
    <a href="/?clear-session=1" class="btn btn-primary">Clear session and try again</a>
  </p>

</div>

{% endblock %}