{% extends "base.html" %}

{% set active_page = "account" %}

{% block title %} Your account {% endblock %}

{% block divs %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form action="/logout" method="get">
                    <button class="btn btn-sm btn-responsive btn-info" type="submit">Log out</button>
                </form>
                <h2> Account overview for {{ logged_in_user.username }} </h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Email address
                            </td>
                            <td>
                                {{logged_in_user.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Time Zone
                            </td>
                            <td>
                                {{logged_in_user.timezone }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Last login was
                            </td>
                            <td>
                                {{ logged_in_user.last_login_at | localized_datetime }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Assets owned
                            </td>
                            <td>
                                <a href="/assets">{{ num_assets }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Roles
                            </td>
                            <td>
                                {{ roles }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Authentication token
                            </td>
                            <td>
                                {{ logged_in_user.get_auth_token() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
