div section {
    text-align: justify;
}
#table-of-contents {
    text-align: left;
}

div .toctree-wrapper > ul {
    column-count: 2;
    margin: 0;
}

ul .toctree-l1 {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

div .contents > ul {
    column-count: 2;
    margin: 0;
}

div .contents li {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

div.admonition.info-icon > .admonition-title:before {
  content: "\f05a"; /* the fa-circle-info icon */
}
