{% extends "base.html" %}

{% set active_page = "sensors" %}

{% block title %} Sensor data {% endblock %}

{% block divs %}

      <div class="sensor-data charts text-center">
          <div class="row"><div class="alert alert-info" id="tzwarn" style="display:none;"></div></div>
          <div class="row on-top-md">
              <div class="col-sm-2">
                  <div class="sidepanel-container">
                      <div class="left-sidepanel-label">Select dates</div>
                      <div class="sidepanel left-sidepanel">
                          <div id="datepicker"></div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-8">
                  <div id="sensorchart" class="card" style="width: 100%;"></div>
                  <div id="spinner" hidden="hidden">
                      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div class="col-sm-2"></div>
          </div>
          <hr>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/ranges.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/keyboardnav.js"></script>

    <!-- Render Charts -->
    <script type="module" type="text/javascript">

      import { subtract, thisMonth, lastNMonths, getOffsetBetweenTimezonesForDate } from "{{ url_for('flexmeasures_ui.static', filename='js/daterange-utils.js') }}";

      let vegaView;
      let previousResult;

      async function embedAndLoad(chartSpecsPath, elementId, datasetName, previousResult, startDate, endDate) {

        await vegaEmbed('#'+elementId, chartSpecsPath + 'dataset_name=' + datasetName + '&width=container&include_sensor_annotations=true&include_asset_annotations=true', {{ chart_options | safe }})
        .then(function (result) {
          // result.view is the Vega View, chartSpecsPath is the original Vega-Lite specification
          vegaView = result.view;
          if (previousResult) {
            var slicedPreviousResult = previousResult.filter(item => {
              return item.event_start >= startDate.getTime() && item.event_start < endDate.getTime()
            })
            vegaView.change(datasetName, vega.changeset().remove(vega.truthy).insert(slicedPreviousResult)).resize().run();
          }
        });
      }

      var sensorId = {{ sensor_id }}
      var sensorPath = '/api/dev/sensor/' + sensorId
      var chartSpecsPath = sensorPath + '/chart?'
      var elementId = 'sensorchart'
      var datasetName = 'sensor_' + sensorId

      // Set up abort controller to cancel requests
      var controller = new AbortController()
      var signal = controller.signal

      // Set up abort controller to cancel requests
      var controller = new AbortController()
      var signal = controller.signal

      const date = Date();
      const picker = new Litepicker({
          element: document.getElementById('datepicker'),
          plugins: ['ranges', 'keyboardnav'],
          ranges: {
              customRanges: {
                  'Today': [new Date(date), new Date(date)],
                  'Last 7 days': [subtract(date, 6), new Date(date)],
                  'This month': thisMonth(date)
              },
              position: 'bottom'
          },
          autoRefresh: true,
          moduleRanges: true,
          showWeekNumbers: true,
          numberOfMonths: 1,
          numberOfColumns: 1,
          inlineMode: true,
          switchingMonths: 1,
          singleMode: false,
          dropdowns: {
              years: true,
              months: true,
          },
          format: 'YYYY-MM-DD\\T00:00:00',
      });
      picker.on('selected', (startDate, endDate) => {
          startDate = startDate.toJSDate()
          endDate = endDate.toJSDate()
          endDate.setDate(endDate.getDate() + 1);
          var queryStartDate = (startDate != null) ? (startDate.toISOString()) : (null)
          var queryEndDate = (endDate != null) ? (endDate.toISOString()) : (null)

          // Abort previous request and create abort controller for new request
          controller.abort()
          controller = new AbortController()
          signal = controller.signal

          $("#spinner").show();
          Promise.all([
              // Fetch time series data
              fetch(sensorPath + '/chart_data/?event_starts_after=' + queryStartDate + '&event_ends_before=' + queryEndDate, {
                  method: "GET",
                  headers: {"Content-Type": "application/json"},
              })
              .then(function(response) { return response.json(); }),

              // Fetch annotations
              fetch(sensorPath + '/chart_annotations/?event_starts_after=' + queryStartDate + '&event_ends_before=' + queryEndDate, {
                  method: "GET",
                  headers: {"Content-Type": "application/json"},
              })
              .then(function(response) { return response.json(); }),

              // Embed chart
              embedAndLoad(chartSpecsPath + 'event_starts_after=' + queryStartDate + '&event_ends_before=' + queryEndDate + '&', elementId, datasetName, previousResult, startDate, endDate),
          ]).then(function(result) {
                $("#spinner").hide();
                vegaView.change(datasetName, vega.changeset().remove(vega.truthy).insert(result[0])).resize().run();
                vegaView.change(datasetName + '_annotations', vega.changeset().remove(vega.truthy).insert(result[1])).resize().run();
                previousResult = result[0];
          }).catch(console.error);
      });

      document.onreadystatechange = () => {
        if (document.readyState === 'complete') {
          fetch(sensorPath, {
            method: "GET",
            headers: {"Content-Type": "application/json"},
          })
          .then(function(response) { return response.json(); })
          .then(function(data) {
            var offsetDifference = getOffsetBetweenTimezonesForDate(new Date(), data.timezone, jstz.determine().name());
            if (offsetDifference != 0) {
              document.getElementById('tzwarn').style.display = 'block';
              var offsetNotice = (offsetDifference > 0) ? 'which is currently ahead by ' + offsetDifference + 'minutes' : 'which is currently behind by ' + offsetDifference + ' minutes'
              document.getElementById('tzwarn').innerHTML = 'Please note that the sensor data you are viewing is located in a different timezone (' + offsetNotice + ').<br/>To view the data from a local perspective, set your locale timezone to ' + data.timezone + '.'
            }
            if ('timerange' in data) {
              var start = new Date(data.timerange.start);
              var end = new Date(data.timerange.end)
              end.setSeconds(end.getSeconds() - 1); // -1 second in case most recent event ends at midnight
              start.setHours(0,0,0,0) // get start of first day
              end.setHours(0,0,0,0) // get start of last day

              {% if event_starts_after and event_ends_before %}
                // Initialize picker to the date selection specified in the session
                var sessionStart = new Date('{{ event_starts_after }}');
                var sessionEnd = new Date('{{ event_ends_before }}')
                sessionEnd.setSeconds(sessionEnd.getSeconds() - 1); // -1 second in case most recent event ends at midnight
                sessionStart.setHours(0,0,0,0) // get start of first day
                sessionEnd.setHours(0,0,0,0) // get start of last day
                picker.setDateRange(
                  sessionStart,
                  sessionEnd,
                );
              {% else %}
                // Initialize picker to the last 2 days of sensor data
                var nearEnd = new Date(end)//.setDate(end.getDate() - 1)
                nearEnd.setDate(nearEnd.getDate() - 1)
                picker.setDateRange(
                  nearEnd,
                  end,
                );
              {% endif %}

              // No use looking for data in years outside timerange of sensor data
              picker.setOptions({
                dropdowns: {
                  minYear: start.getFullYear(),
                  maxYear: end.getFullYear(),
                },
              });
            };
          });
        }
      };

      // Set up swiping for the left sidepanel
      var leftSidepanels = document.getElementsByClassName('left-sidepanel');
      document.addEventListener('swiped-right', function(e) {
        if (e.target.classList.contains('sidepanel-container')) {
          for (var i = leftSidepanels.length - 1; i >= 0; i--) {
            leftSidepanels[i].classList.add('sidepanel-show');
          }
        }
      });
      document.addEventListener('swiped-left', function(e) {
        for (var i = leftSidepanels.length - 1; i >= 0; i--) {
          leftSidepanels[i].classList.remove('sidepanel-show');
        }
      });

    </script>

    {% block leftsidepanel %} {{ super() }} {% endblock %}

{% endblock %}