{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{asset.name}} - Status {% endblock %}

{% block divs %}


<div class="container-fluid">
    <div>
        <button type="button" class="btn" onclick="window.history.back();" style="margin-top: 20px;" >Back to asset page</button>
    </div>
    <div class="row">
        <div class="alert alert-info" id="tzwarn" style="display:none;"></div>
        <div class="alert alert-info" id="dstwarn" style="display:none;"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="sensors-asset card">
                <h3>Data connectivity for sensors of {{ asset.name }}</h3>
                <table class="table table-striped table-responsive paginate nav-on-click">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Asset name</th>
                            <th>Relation to asset</th>
                            <th class="no-sort" title="This is the knowledge time of the most recent event recorded">Time of last value</th>
                            <th class="text-right no-sort">Status</th>
                            <th class="d-none">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors: %}
                        <tr title="View data">
                            <td>
                                {{ sensor.name }}
                            </td>
                            <td>
                                {{ sensor.asset_name }}
                            </td>
                            <td>
                                {{ sensor.relation }}
                            <td>
                                <span title="{{ sensor['staleness_since'] }}">{{ sensor["staleness_since"] | naturalized_datetime }}</span>
                            </td>
                            <td class="text-right">
                                <span title="{{ sensor['reason'] }}">
                                    {% if sensor["stale"] == False %}
                                    🟢
                                    {% elif sensor["stale"] == True %}
                                    🔴
                                    {% endif %}
                                </span>
                            </td>
                            <td class="hidden d-none invisible" style="display:none;">
                                /sensors/{{ sensor.id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Latest jobs of {{ asset.name }}</h3>
                <table id="scheduling_forecasting_jobs" class="table table-striped table-responsive paginate nav-on-click">
                    <thead>
                        <tr>
                            <th style="display:none;">Created at Timestamp</th> <!-- Hidden UTC Timestamp column for sorting, Keep at position 0 -->
                            <th>Created at</th>
                            <th>Queue</th>
                            <th>Entity</th>
                            <th class="text-right no-sort">Status</th>
                            <th class="text-right">Info</th>
                            <th class="d-none">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job_data in jobs_data: %}
                        <tr title="View data">
                            <td style="display:none;">
                                {{ job_data.enqueued_at | to_utc_timestamp }} <!-- Hidden UTC Timestamp column for sorting, Keep at position 0 -->
                            </td>
                            <td title="Enqueued at: {{ job_data.enqueued_at}}">
                                {{ job_data.enqueued_at | naturalized_datetime }}
                            </td>
                            <td>
                                {{ job_data.queue }}
                            </td>
                            <td>
                                {{ job_data.entity }}
                            </td>
                            <td class="text-right"
                                title="{{ job_data['err'] is none and job_data['status'] or job_data['status'] + ' : ' + job_data['err'] }}">
                                <span>
                                    {% if job_data["status"] == "finished" %}
                                    🟢
                                    {% elif job_data["status"] == "failed" %}
                                    🔴
                                    {% else %}
                                    🟡
                                    {% endif %}
                                </span>
                            </td>
                            <td class="text-right">
                                <!-- Button -->
                                <a href="#" class="btn btn-default btn-success" role="button" id="job-metadata-info-button" data-bs-target="#JobMetadataModal-{{ job_data['metadata_hash'] }}" data-bs-toggle="modal">
                                    Info
                                </a>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="JobMetadataModal-{{ job_data['metadata_hash'] }}" tabindex="-1" role="dialog" aria-labelledby="JobMetadataInfo" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="JobMetadataInfo">Info</h5>
                                                <button id="modalCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onmousedown="event.stopPropagation(); event.preventDefault();"></button>
                                            </div>
                                            <div class="modal-body">
                                                <pre>{{ job_data['metadata'] }}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="hidden d-none invisible" style="display:none;">
                                /tasks/0/view/job/{{ job_data.job_id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if redis_connection_err is not none %}
                    <div class="warning">{{ redis_connection_err }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- sort scheduling and forecasting jobs by hidden 'Created at Timestamp' column -->
<script>
    $(document).ready(function() {
        $('#scheduling_forecasting_jobs').DataTable({"order": [[ 0, "desc" ]]}); // Sort by the hidden UTC Timestamp column
    });
</script>
{% endblock %}
