{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{asset.name}} - Status {% endblock %}

{% block divs %}

{% block breadcrumbs %} {{ super() }} {% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="alert alert-info" id="tzwarn" style="display:none;"></div>
        <div class="alert alert-info" id="dstwarn" style="display:none;"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <h4>Data connectivity for sensors of {{ asset.name }}
                  <span class="fa fa-info-circle" title="This table shows the connectivity status for all sensors under or relevant to this asset. Click the table to see the actual data. Per sensor, we report the different data source types. We only explicitly support source types 'demo script', 'user', 'forecaster', 'scheduler' and 'reporter'.

A red traffic light indicates that the last time a record was made was too long ago (it is 'stale'). Hover the light to learn more about why it is displayed red. It could be a source for errors down the line if that sensor data is necessary for forecasts and schedules to be made.

How long ago is considered too long (stale) depends on the sensor, usually we use the sensor's resolution times two. If the source type means we expect future data ('forecaster', 'scheduler'), data should extend 12 hours into the future." style="margin-left: 10px;"></span>
                </h4>
                <table id="sensor_statuses" class="table table-striped paginate nav-on-click">
                    <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Data source type</th>
                            <th class="no-sort" title="This is the knowledge time of the most recent event recorded (potentially in the future, for forecasts and schedules)">Time of latest record</th>
                            <th class="text-right no-sort">Status</th>
                            <th class="d-none">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors: %}
                        <tr title="View data">
                            <td>
                                {% if loop.first or sensor.name != loop.previtem.name %}
                                  {{ sensor.name }} (<a href="/sensors/{{ sensor.id }}">{{ sensor.id }}</a>)
                                  {%- set asset_info = [ sensor.name, "(Asset: '", sensor.asset_name, "')" ]-%}
                                  <span class="fa fa-info" title="Resolution: {{sensor.resolution | naturalized_timedelta }}, Asset: '{{sensor.asset_name}}', reason for listing here: {{sensor.relation}}" style="margin-left: 10px;"></span>               
                                {% endif %}
                            </td>
                            <td>
                                {{ sensor.source_type }} 
                            </td>
                            <td>
                                <span title="{{ sensor['staleness_since'] }}">{{ sensor["staleness_since"] | naturalized_datetime }}</span>
                            </td>
                            <td class="text-right">
                                <span title="{{ sensor['reason'] }}">
                                    {% if sensor["stale"] == False %}
                                    🟢
                                    {% elif sensor["stale"] == True %}
                                    🔴
                                    {% endif %}
                                </span>
                            </td>
                            <td class="hidden d-none invisible" style="display:none;">
                                /sensors/{{ sensor.id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4>Latest jobs of {{ asset.name }}
                  <span class="fa fa-info-circle" title="This table shows forecasting or scheduling jobs for this asset.
A red traffic light indicates something went wrong and should be reported to admins.

Note that jobs do not live forever, so only rather recent jobs (usually younger than a day) are shown at all.
                  " style="margin-left: 10px;"></span>
                </h4>
                <table id="scheduling_forecasting_jobs" class="table table-striped paginate nav-on-click">
                    <thead>
                        <tr>
                            <th style="display:none;">Created at Timestamp</th> <!-- Hidden UTC Timestamp column for sorting, Keep at position 0 -->
                            <th>Created at</th>
                            <th>Queue</th>
                            <th>Entity</th>
                            <th class="text-right no-sort">Status</th>
                            <th class="text-right">Info</th>
                            <th class="d-none">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job_data in jobs_data: %}
                        <tr title="View data">
                            <td style="display:none;">
                                {{ job_data.enqueued_at | to_utc_timestamp }} <!-- Hidden UTC Timestamp column for sorting, Keep at position 0 -->
                            </td>
                            <td title="Enqueued at: {{ job_data.enqueued_at}}">
                                {{ job_data.enqueued_at | naturalized_datetime }}
                            </td>
                            <td>
                                {{ job_data.queue }}
                            </td>
                            <td>
                                {{ job_data.entity }}
                            </td>
                            <td class="text-right"
                                title="{{ job_data['err'] is none and job_data['status'] or job_data['status'] + ' : ' + job_data['err'] }}">
                                <span>
                                    {% if job_data["status"] == "finished" %}
                                    🟢
                                    {% elif job_data["status"] == "failed" %}
                                    🔴
                                    {% else %}
                                    🟡
                                    {% endif %}
                                </span>
                            </td>
                            <td class="text-right">
                                <!-- Button -->
                                <a href="#" class="btn btn-default btn-success" role="button" id="job-metadata-info-button" data-bs-target="#JobMetadataModal-{{ job_data['metadata_hash'] }}" data-bs-toggle="modal">
                                    Info
                                </a>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="JobMetadataModal-{{ job_data['metadata_hash'] }}" tabindex="-1" role="dialog" aria-labelledby="JobMetadataInfo" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="JobMetadataInfo">Info</h5>
                                                <button id="modalCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onmousedown="event.stopPropagation(); event.preventDefault();"></button>
                                            </div>
                                            <div class="modal-body">
                                                <pre>{{ job_data['metadata'] }}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="hidden d-none invisible" style="display:none;">
                                /tasks/0/view/job/{{ job_data.job_id }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if redis_connection_err is not none %}
                    <div class="alert alert-warning">Warning: {{ redis_connection_err }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- hide control elements -->
<script>
    $(document).ready(function() {
        $('#sensor_statuses').DataTable({
        "searching": false,
        "paging": false,
        "info": false,
        "ordering": false
    });
});
</script>

<!-- sort scheduling and forecasting jobs by hidden 'Created at Timestamp' column, hide control elements -->
<script>
    $(document).ready(function() {
        $('#scheduling_forecasting_jobs').DataTable({
        "order": [[ 0, "desc" ]],  // Default sort by the hidden UTC Timestamp column
        "columnDefs": [
            { 
                "targets": 1,  // Target the visible "Created at" column
                "orderData": 0  // Use data from the first column (UTC Timestamp) for sorting
            }
        ],
        "searching": false,
        "paging": false,
        "info": false
    });
});
</script>
{% endblock %}
