{% extends "base.html" %}

{% set active_page = "analytics" %}

{% block title %} Client analytics {% endblock %}

{% block divs %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    Analytics on asset level. You can adjust views here to check out different things (assets, time frames), but you can't take control actions here.
                </div>
                <h3>Controls</h3>
                <form id="resource-form" method="post">
                    <div class="form-group">
                        <label class="icon-left">
                            <img src="static/icons/sun.svg" alt="type" name="preset-icon">
                        </label>
                        <label class="control-label" for="resource">Resource</label>
                        <div>
                            <select class="form-control" id="resource" name="resource" onchange="this.form.submit()">
                                {% for asset_group, asset_group_display_name in asset_groups %}
                                <option value="{{ asset_group }}" {% if resource==asset_group %} selected="selected"{% endif %}>
                                    {{ asset_group_display_name }}
                                </option>
                                {% endfor %}
                                {% for asset in assets %}
                                <option value="{{ asset.name }}" {% if resource==asset.name %} selected="selected"{% endif %}>
                                    {{ asset.display_name }} ({{ asset.asset_type_display_name }})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
                {% block datetimepicker %} {{ super() }} {% endblock %}
                {% block forecastpicker %} {{ super() }} {% endblock %}
                <h3>Metrics</h3>
                <table class="table text-right" style="font-size: 100%;">
                    <thead>
                        <tr>
                            <th><label class="icon-left"><img src="static/icons/calculator.svg" alt="Calculator"></label></th>
                            <th>
                                <span title="Aggregation of the profile of this resource.">
                                    {% if showing_pure_consumption_data %} Consumption
                                    {% elif showing_pure_generation_data %} Production
                                    {% else %} Production {% endif %} <!-- Todo: check for default mode of mixed asset groups -->
                                    (MWh)
                                </span>
                            </th>
                            <th><span title="The prices which are applicable to this resource.">Price (KRW/MWh)</span></th>
                            <th>
                                {% if showing_pure_consumption_data %}
                                <span title="The costs which {{ resource }} occurred or might occur."> Costs (KRW)</span>
                                {% elif showing_pure_generation_data %}
                                <span title="The revenues which {{ resource }} occurred or might occur."> Revenues (KRW)</span>
                                {% else %} Rev./Costs (KRW)
                                <span title="The revenues or costs which {{ resource }} occurred or might occur."> Costs (KRW)</span>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">
                                Realised
                            </td>
                            <td>{{ "{:,.3f}".format( realised_load_in_mwh | round(3) ) }}</td>
                            <td>{{ "{:,.2f}".format( realised_unit_price | round(2)) }}</td>
                            <td>{{ "{:,.2f}".format( realised_revenues_costs | round(2)) }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Expected (forecast per {{ resolution_human }})
                            </td>
                            <td>{{ "{:,.3f}".format(expected_load_in_mwh | round(3) ) }}</td>
                            <td>{{ "{:,.2f}".format(expected_unit_price | round(2) ) }}</td>
                            <td>{{ "{:,.2f}".format(expected_revenues_costs | round(2) ) }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                MAE (per {{ resolution_human }})
                            </td>
                            <td>{{ "{:,.3f}".format( mae_load_in_mwh | round(3)) }}</td>
                            <td>{{ "{:,.2f}".format( mae_unit_price | round(2)) }}</td>
                            <td>{{ "{:,.2f}".format( mae_revenues_costs | round(2)) }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                WAPE
                            </td>
                            <td>{{ "{:,.1f}".format( wape_load | round(1)) }} %</td>
                            <td>{{ "{:,.1f}".format( wape_unit_price | round(1)) }} %</td>
                            <td>{{ "{:,.2f}".format( wape_revenues_costs | round(2)) }} %</td>
                        </tr>
                    </tbody>
                </table>
                <div class="todo">
                    <h3>To do</h3>
                    <div class="justify">
                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Expected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>Allow for different rolling forecast lengths</td>
                                    <td>M2</td>
                                </tr>
                                <tr class="active">
                                    <td>Allow static forecasts</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                {{ analytics_plots_div | safe }}
                {{ analytics_plots_script | safe }}
            </div>
        </div>
    </div>

{% endblock %}
