{% extends "base.html" %}

{% set active_page = "dashboard" %}

{% block title %} Dashboard {% endblock %}

{% block divs %}
    <script type="text/javascript">

    // Helper functions

    function getIconNameByAssetType(assetType){
        if (assetType == "wind") return "wind";
        if (assetType == "batteries") return "battery";
        if (assetType == "buildings") return "house";
        if (assetType == "solar") return "sun";
        if (assetType == "charging_stations") return "car";
        // Mock
        if (assetType == "wind_opp") return "wind_opp";
        if (assetType == "battery_opp") return "battery_opp";
        // TODO: more?
        return "wind";
    }

    function getIconByAssetType(assetType){
        if (assetType == "wind") return windIcon;
        if (assetType == "battery") return batIcon;
        if (assetType == "building") return houseIcon;
        if (assetType == "solar") return sunIcon;
        if (assetType == "charging_station") return carIcon;
        // Mock
        if (assetType == "wind_opp") return OpportunityWindIcon;
        if (assetType == "battery_opp") return OpportunityBatteryIcon;
        // TODO: more?
        return windIcon;
    }

    function getMockImageByCapacityFactor(capacity_factor_in_percent){
        var path = "/static/live-mock-imgs/";
        if (capacity_factor_in_percent < 5) return path + "0.0.png";
        if (capacity_factor_in_percent < 15) return path + "0.1.png";
        if (capacity_factor_in_percent < 25) return path + "0.2.png";
        if (capacity_factor_in_percent < 35) return path + "0.3.png";
        if (capacity_factor_in_percent < 45) return path + "0.4.png";
        if (capacity_factor_in_percent < 55) return path + "0.5.png";
        if (capacity_factor_in_percent < 65) return path + "0.6.png";
        if (capacity_factor_in_percent < 75) return path + "0.7.png";
        if (capacity_factor_in_percent < 85) return path + "0.8.png";
        if (capacity_factor_in_percent < 95) return path + "0.9.png";
        return path + "1.0.png"
    }
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    This is the Balancing Valorisation Plaform (BVP) for Aggregators and Energy Service Companies operating on Jeju island.

                    The BVP is a tool for scheduling balancing actions on behalf of the connected asset owners.
                    Its purpose is to offer these balancing actions as one aggregated service to energy markets, realising the highest possible value for its users.
                    It fulfills this purpose with four services: automation, insight, autonomy, and profit sharing.

                </div>
                <div class="todo">
                    <h3>To do</h3>
                    <div class="justify">
                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Expected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User authentication</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>Language toggling</td>
                                    <td>M3</td>
                                </tr>
                                <tr>
                                    <td>Asset locations updated from database</td>
                                    <td>Extra</td>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row eq-height">
                    <div class="col-sm-12">
                        <h3>{% if not prosumer_mock == "0": %}BVP status:{% else %}Status of my assets:{% endif%}
                        </h3>

                        <div id="mapid"></div>

                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for asset_type in asset_counts_per_pluralised_type: %}
                                    {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
                                    <th><a href="analytics?resource={{ asset_type }}">{{ asset_type | capitalize | replace("_", " ") }}</a></th>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if not prosumer_mock: %}BVP total:{% else %}My assets:{% endif%}</td>

                                    {% for asset_type in asset_counts_per_pluralised_type: %}
                                        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
                                    <td>
                                        <label class="icon-left">
                                            <img id="icon-for-{{ asset_type }}" alt="{{ asset_type }}" src="">
                                            <script type="text/javascript">
                                            $("#icon-for-{{ asset_type }}").attr("src", "/static/icons/" + getIconNameByAssetType("{{ asset_type }}") + ".svg");
                                            </script>
                                        </label>
                                        {{ asset_counts_per_pluralised_type[asset_type] }}
                                    </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Initialise the map -->
    <script src="static/js/external/leaflet.js"></script>
    <script src="static/js/map-init.js"></script>

    <script type="text/javascript">
    // create markers, keep them by asset type

    {% for asset_type in asset_counts_per_pluralised_type: %}
        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
            var {{ asset_type }}_markers = [];
        {% endif %}
    {% endfor %}

    {% for asset in assets: %}
        {% set current_load_in_mw = current_asset_loads.get(asset.name, 0) %}
        var marker_for_{{ asset.name.replace("-", "").replace(".", "") }} = L.marker([{{ asset.location[0] }}, {{ asset.location[1] }}], {icon: getIconByAssetType("{{ asset.asset_type_name }}")})
                                .bindPopup('<a href="analytics?resource={{ asset.name | urlencode }}">{{ asset.display_name }}</a>' +
                                           custom_overlay_fade(getMockImageByCapacityFactor({{ asset.capacity_factor_in_percent_for(current_load_in_mw) }}),
                                        'Load',
                                        'Currently producing at {{ current_load_in_mw }} MW ({{ asset.capacity_factor_in_percent_for(current_load_in_mw) }}% capacity)'));
                                   // .openPopup();
        {{ asset.asset_type.pluralized_name }}_markers.push(marker_for_{{ asset.name.replace("-", "").replace(".", "") }});
    {% endfor%}

    // add mock icons in layer
    var marker_for_bat = L.marker([33.3761057, 126.3025723], {icon: opportunityBatteryIcon})
                            .bindPopup('<a href="analytics?resource={{ "bsu" | urlencode }}">Battery storage unit</a> has a balancing opportunity. Please valorise on the opportunity <a href="control">here</a>.<p>' +
                                       custom_overlay_fade(getMockImageByCapacityFactor(80),
                                    'Load',
                                    'Currently producing at 1 MW (80% capacity)'));
                               // .openPopup();
    var marker_for_wind = L.marker([33.428833, 126.166126], {icon: opportunityWindIcon})
                            .bindPopup('<a href="analytics?resource={{ "sw-offshore" | urlencode }}">Suwon</a> has a balancing opportunity. Please valorise on the opportunity <a href="control">here</a><p>' +
                                       custom_overlay_fade(getMockImageByCapacityFactor(80),
                                    'Load',
                                    'Currently producing at 1 MW (80% capacity)'));
                               // .openPopup();
    wind_markers.push(marker_for_wind);
    charging_stations_markers.push(marker_for_bat); // Battery marker added in the charging station layer

    // make layer groups
    var asset_type_layers = [];
    var overlay_maps = {};
    {% for asset_type in asset_counts_per_pluralised_type: %}
        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
            var {{ asset_type }}_layer = new L.LayerGroup({{ asset_type }}_markers);
            asset_type_layers.push({{ asset_type }}_layer);
            overlay_maps["{{ asset_type }}"] = {{ asset_type }}_layer;
        {% endif %}
    {% endfor %}

    // create Map with layers
    var assetMap = L.map('mapid', {center: [33.4049, 126.6504], zoom: 10, layers: asset_type_layers});
    tileLayer.addTo(assetMap);

    L.control.layers(null, overlay_maps).addTo(assetMap);



    </script>


{% endblock %}
