{% extends "base.html" %}

{% set active_page = "dashboard" %}

{% block title %} Dashboard {% endblock %}

{% block divs %}
    <script type="text/javascript">

    // Helper functions

    function getMockImageByCapacityFactor(capacity_factor_in_percent){
        var path = "/static/live-mock-imgs/";
        if (capacity_factor_in_percent < 5) return path + "0.0.png";
        if (capacity_factor_in_percent < 15) return path + "0.1.png";
        if (capacity_factor_in_percent < 25) return path + "0.2.png";
        if (capacity_factor_in_percent < 35) return path + "0.3.png";
        if (capacity_factor_in_percent < 45) return path + "0.4.png";
        if (capacity_factor_in_percent < 55) return path + "0.5.png";
        if (capacity_factor_in_percent < 65) return path + "0.6.png";
        if (capacity_factor_in_percent < 75) return path + "0.7.png";
        if (capacity_factor_in_percent < 85) return path + "0.8.png";
        if (capacity_factor_in_percent < 95) return path + "0.9.png";
        return path + "1.0.png"
    }
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    <p>
                        The Balancing Valorisation Platform (BVP) is a tool <em>for scheduling balancing actions</em> on behalf of connected asset owners.
                        Its purpose is to realise the best value for the owners by selling balancing services to energy markets.
                        It fulfills this purpose with four services: automation, insight, autonomy, and profit sharing.
                    </p>
                    <p>
                        This dashboard shows you which of your assets are connected to the platform and how they are doing.
                        Assets marked red require your attention, as balancing opportunities have been identified.
                    </p>
                    <p>
                        Need help understanding this page? Check out the <a href="static/documentation/html/views/dashboard.html">documentation</a>.
                    </p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row eq-height">
                    <div class="col-sm-12">
                        <h3>{% if not prosumer_mock == "0": %}BVP status:{% else %}Status of my assets:{% endif%}
                        </h3>

                        <div id="mapid"></div>

                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for asset_type in asset_counts_per_pluralised_type: %}
                                        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
                                            <th><a href="analytics?resource={{ asset_type }}" target="_blank">{{ asset_type | capitalize | replace("_", " ") }}</a></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{% if not prosumer_mock: %}BVP total:{% else %}My assets:{% endif%}</td>

                                    {% for asset_type in asset_counts_per_pluralised_type: %}
                                        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
                                    <td>
                                        <i class="icon-{{ asset_type }}"></i>
                                        {{ asset_counts_per_pluralised_type[asset_type] }}
                                    </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Initialise the map -->
    <script src="static/js/external/leaflet.js"></script>
    <script src="static/js/map-init.js"></script>

    <script type="text/javascript">
    // create markers, keep them by asset type

    {% for asset_type in asset_counts_per_pluralised_type: %}
        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
            var {{ asset_type }}_markers = [];

            var {{ asset_type }}_icon = new L.DivIcon({
                    className:      'map-icon',
                    html:           '<i class="icon-{{ asset_type }}"></i>',
                    iconSize:       [24, 24], // size of the icon
                    iconAnchor:     [12, 12], // point of the icon which will correspond to marker's location
                    popupAnchor:    [0, -12] // point from which the popup should open relative to the iconAnchor
                });

            var {{ asset_type }}_opportunity_icon = new L.DivIcon({
                    className:      'map-icon opportunity',
                    html:           '<i class="icon-{{ asset_type }}"></i>',
                    iconSize:       [24, 24], // size of the icon
                    iconAnchor:     [12, 12], // point of the icon which will correspond to marker's location
                    popupAnchor:    [0, -12] // point from which the popup should open relative to the iconAnchor
                });
        {% endif %}
    {% endfor %}

    // mock battery opportunity icon
    var battery_opportunity_icon = new L.DivIcon({
        className:      'map-icon opportunity',
        html:           '<i class="icon-battery"></i>',
        iconSize:       [24, 24], // size of the icon
        iconAnchor:     [12, 12], // point of the icon which will correspond to marker's location
        popupAnchor:    [0, -12] // point from which the popup should open relative to the iconAnchor
    });

    {% for asset in assets: %}
        {% set current_load_in_mw = current_asset_loads.get(asset.name, 0) %}
        <!--var marker_for_{{ asset.name.replace("-", "").replace(".", "") }} = makeMarker({{ asset }})-->

        var marker_for_{{ asset.name.replace("-", "").replace(".", "") }} = L
            .marker(
                [{{ asset.location[0] }}, {{ asset.location[1] }}],
                {icon: {{ asset.asset_type.pluralized_name }}_icon}
            )
            .bindPopup(`
                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{ asset.display_name }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        This {{ asset.asset_type.name | replace("_", " ") }} asset is currently
                        {% if asset.asset_type.is_producer %}
                            producing at {{ current_load_in_mw|round(3) }} MW ({{ asset.capacity_factor_in_percent_for(current_load_in_mw)|round(1) }}%
                        {% else %}
                            consuming at {{ -current_load_in_mw|round(3) }} MW ({{ asset.capacity_factor_in_percent_for(-current_load_in_mw)|round(1) }}%
                        {% endif %}
                        capacity).
                    </div>
                    <div class="col-sm-3">
                        ` +
                        {% if asset.asset_type.is_producer %}
                            responsiveImageWithTooltip(
                                getMockImageByCapacityFactor({{ asset.capacity_factor_in_percent_for(current_load_in_mw) }}),
                                'Power',
                                'Currently producing at {{ current_load_in_mw|round(3) }} MW ({{ asset.capacity_factor_in_percent_for(current_load_in_mw)|round(1) }}% capacity)'
                            )
                        {% else %}
                            responsiveImageWithTooltip(
                                getMockImageByCapacityFactor({{ asset.capacity_factor_in_percent_for(-current_load_in_mw) }}),
                                'Load',
                                'Currently consuming at {{ -current_load_in_mw|round(3) }} MW ({{ asset.capacity_factor_in_percent_for(-current_load_in_mw)|round(1) }}% capacity)'
                            )
                        {% endif %}
                        + `
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-6">
                        <form action="analytics" target="_blank" method="get">
                            <input type="hidden" name="resource" value="{{ asset.name | urlencode }}">
                            <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form action="control" method="get">
                            <!--<input type="hidden" name="offer" value="still_mocked">-->
                            <!--<button class="btn btn-sm btn-responsive btn-danger" type="submit">Review opportunity</button>-->
                        </form>
                    </div>
                </div>
                `
            )
            .on('click', clickZoom);
            // .openPopup();
        {{ asset.asset_type.pluralized_name }}_markers.push(marker_for_{{ asset.name.replace("-", "").replace(".", "") }});
    {% endfor%}

    // add mock icons in layer
    {% if prosumer_mock == "0" or prosumer_mock=="offshore" %}
        var marker_for_wind = L
            .marker(
                [33.428833, 126.166126],
                {icon: wind_opportunity_icon}
            )
            .bindPopup(`
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Suwon</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        This wind asset is currently producing at 3 MW (60% capacity) and has a balancing opportunity. Please consider valorising on this opportunity.
                    </div>
                    <div class="col-sm-3">
                        ` +
                        responsiveImageWithTooltip(
                            getMockImageByCapacityFactor(60),
                            'Power',
                            'Currently producing at 3 MW (60% capacity)'
                        )
                        + `
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-6">
                        <form action="analytics" target="_blank" method="get">
                            <input type="hidden" name="resource" value="sw-offshore">
                            <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form action="control" method="get">
                            <!--<input type="hidden" name="offer" value="still_mocked">-->
                            <button class="btn btn-sm btn-responsive btn-danger" type="submit">Review opportunity</button>
                        </form>
                    </div>
                </div>
                `
            )
            .on('click', clickZoom);
        wind_markers.push(marker_for_wind);
    {% endif%}
    {% if prosumer_mock == "0" %}
        var marker_for_bat = L
            .marker(
                [33.3761057, 126.3025723],
                {icon: battery_opportunity_icon}
            )
            .bindPopup(`
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Battery storage unit</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        This battery asset is currently consuming at 4 MW (80% capacity) and has a balancing opportunity. Please consider valorising on this opportunity.
                    </div>
                    <div class="col-sm-3">
                        ` +
                        responsiveImageWithTooltip(
                            getMockImageByCapacityFactor(80),
                            'Power',
                            'Currently consuming at 4 MW (80% capacity)'
                        )
                        + `
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-sm-6">
                        <form action="analytics" target="_blank" method="get">
                            <!--<input type="hidden" name="resource" value="still_mocked">-->
                            <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form action="control" method="get">
                            <!--<input type="hidden" name="offer" value="still_mocked">-->
                            <button class="btn btn-sm btn-responsive btn-danger" type="submit">Review opportunity</button>
                        </form>
                    </div>
                </div>
                `
            )
            .on('click', clickZoom);
        charging_stations_markers.push(marker_for_bat); // Battery marker added in the charging station layer
    {% endif%}

    // make layer groups
    var asset_type_layers = [];
    var overlay_maps = {};
    {% for asset_type in asset_counts_per_pluralised_type: %}
        {% if asset_counts_per_pluralised_type[asset_type] > 0 %}
            var {{ asset_type }}_layer = new L.LayerGroup({{ asset_type }}_markers);
            asset_type_layers.push({{ asset_type }}_layer);
            overlay_maps["{{ asset_type }}"] = {{ asset_type }}_layer;
        {% endif %}
    {% endfor %}

    // create Map with layers
    var assetMap = L
        .map('mapid', {center: [33.4049, 126.6504], zoom: 10, layers: asset_type_layers})
        .on('popupopen', function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    tileLayer.addTo(assetMap);

    L.control.layers(null, overlay_maps).addTo(assetMap);

    </script>


{% endblock %}
