{# Set defaults for variables #}


{# Front-end app naming #}

{% set app_name = 'Balancing Valorisation Platform' %}
{% set app_name_short = 'BVP' %}


{# Front-end menu, as columns with href, id, caption, and (fa fa-)icon #}

{% set navigation_bar = [
    ('dashboard', 'dashboard', 'Dashboard', 'dashboard'),
    ('portfolio', 'portfolio', 'Portfolio overview', 'briefcase'),
    ('control', 'control', 'DR actions', 'wrench'),
    ('analytics', 'analytics', 'Client analytics', 'bar-chart'),
]
-%}
{% do navigation_bar.append(('static/documentation/html/index.html', 'docs', 'Documentation', 'book')) if documentation_exists %}
{# ('upload', 'upload', 'Upload datasets', 'cloud-upload') #}
{% set active_page = active_page|default('dashboard') -%}


{# Front-end user mock, as columns with id, caption, and (fa fa-)icon #}
{% set user_list_mock = [
    ('0', 'Aggregator/supplier', 'plug'),
    ('offshore', 'Offshore wind prosumer', 'mixcloud'),
    ('onshore', 'Onshore wind prosumer', 'mixcloud'),
    ('solar', 'Solar prosumer', 'sun-o'),
    ('buildings', 'Building prosumer', 'building'),
    ('vehicles', 'EV charging station prosumer', 'car'),
]
-%}


{# Front-end app contents, always include this #}

{% block base %} All your base are belong to us. {% endblock base %}