{% extends "base.html" %}

{% set active_page = "portfolio" %}

{% block title %} Portfolio overview {% endblock %}

{% block divs %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    Break-down of portfolio in the upcoming 24 hours and some analytics and KPIs on portfolio level.
                </div>

                {% if asset_types | length > 0 %}
                <h3>Energy summary</h3>
                <table class="table text-right" style="font-size: 100%;">
                    <thead>
                        <tr>
                            <th><label class="icon-left"><img src="static/icons/calculator.svg" alt="Calculator"></label></th>
                            <th class="text-right"><span title="All production by assets of this type.">Production (MWh)</span></th>
                            <th class="text-right"><span title="All consumption by assets of this type.">Consumption (MWh)</span></th>
                            <!--th><span title="The revenue achieved by assets of this type (on the day-ahead market).">Revenue (KRW)</span></th-->
                        </tr>
                    </thead>
                    <tbody>
                    {% for asset_type_name in asset_types %}
                        <tr>
                            <td class="text-left">
                                {{ asset_type_name }}
                            </td>
                            <td>{% if asset_types[asset_type_name].is_producer and production_per_asset_type[asset_type_name] > 0  %}
                                    {{ "{:,.3f}".format( production_per_asset_type[asset_type_name]  | round(3)) }}
                                {% endif %}
                            </td>
                            <td>{% if asset_types[asset_type_name].is_consumer and consumption_per_asset_type[asset_type_name] > 0 %}
                                    {{ "{:,.3f}".format( consumption_per_asset_type[asset_type_name]  | round(3)) }}
                                {% endif %}
                            </td>
                            <!--td>{{ "{:,.2f}".format( profit_loss_energy_per_asset_type[asset_type_name] | round(2)) }}</td-->
                        </tr>
                    {% endfor %}
                    {% if asset_types | length > 1 %}
                        <tr style="font-weight: bold;">
                            <td class="text-left">
                                Total
                            </td>
                            <td>{{ "{:,.3f}".format( sum_production | round(3)) }}</td>
                            <td>{{ "{:,.3f}".format( sum_consumption | round(3)) }}</td>
                            <!--td>{{ "{:,.2f}".format( sum_profit_loss_energy | round(2)) }}</td-->
                        </tr>
                    {% endif %}
                    </tbody>

                </table><h3>Flexibility summary</h3>
                <table class="table text-right" style="font-size: 100%;">
                    <thead>
                        <tr>
                            <th><label class="icon-left"><img src="static/icons/calculator.svg" alt="Calculator"></label></th>
                            <th class="text-right"><span title="All curtailment actions by assets of this type.">Curtailment (MWh)</span></th>
                            <th class="text-right"><span title="All shifting actions by assets of this type.">Shifting (MWh * h)</span></th>
                            <th class="text-right"><span title="The revenue achieved by assets of this type (by payment of supplier).">Revenue (KRW)</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for asset_type_name in asset_types %}
                        <tr>
                            <td class="text-right">
                                {{ asset_type_name }}
                            </td>
                            <td>{% if asset_types[asset_type_name].is_producer and curtailment_per_asset_type[asset_type_name] > 0  %}
                                    {{ "{:,.3f}".format( curtailment_per_asset_type[asset_type_name]  | round(3)) }}
                                {% endif %}
                            </td>
                            <td>{% if asset_types[asset_type_name].is_consumer and shifting_per_asset_type[asset_type_name] > 0  %}
                                    {{ "{:,.3f}".format( shifting_per_asset_type[asset_type_name]  | round(3)) }}
                                {% endif %}
                            </td>
                            <td>{{ "{:,.2f}".format( profit_loss_flexibility_per_asset_type[asset_type_name] | round(2)) }}</td>
                        </tr>
                    {% endfor %}
                    {% if asset_types | length > 1 %}
                        <tr style="font-weight: bold;">
                            <td class="text-left">
                                Total
                            </td>
                            <td>{{ "{:,.3f}".format( sum_curtailment | round(3)) }}</td>
                            <td>{{ "{:,.3f}".format( sum_shifting | round(3)) }}</td>
                            <td>{{ "{:,.2f}".format( sum_profit_loss_flexibility | round(2)) }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                {% endif %}

                <div class="todo">
                    <h3>To do</h3>
                    <div class="justify">
                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Expected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Portfolio editing: adding/removing assets</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>Portfolio editing: assigning assets to prices</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <h3>Portfolio status</h3>
                    <div class="todo">
                        <p>This shows activity of your portfolio in the next 24 hours and (for onshore and vehicles) mocks an opportunity.
                            <i>Double-click the opportunity</i> to see the order book. </p>
                        <p> You can also <button><a href="?show_stacked={{alt_stacking}}">Switch to showing stacked {{ alt_stacking }}</a></button> </p>
                    </div>
                    {{ portfolio_plots_div | safe }}
                    {{ portfolio_plots_script | safe }}
                </div>

                <div class="row">
                    <h3>Asset status</h3>
                    <div class="wrapper small-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <!--<th>Energy Service Company</th>-->
                                    <th>Production</th>
                                    <th>Consumption</th>
                                    <th>Curtailment</th>
                                    <th>Shifting</th>
                                    <th>Balancing Revenue</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in assets: %}
                                <tr class="active">
                                    <td>
                                        <label class="icon-left">
                                            {% if asset.asset_type_name == "wind" %}
                                            <img src="/static/icons/wind.svg" alt="Wind">
                                            {% endif %}
                                            {% if asset.asset_type_name == "solar" %}
                                            <img src="/static/icons/sun.svg" alt="Solar">
                                            {% endif %}
                                            {% if asset.asset_type_name == "charging_station" %}
                                            <img src="/static/icons/car.svg" alt="Vehicle">
                                            {% endif %}
                                            {% if asset.asset_type_name == "building" %}
                                            <img src="/static/icons/house.svg" alt="Building">
                                            {% endif %}
                                            {% if asset.asset_type_name == "battery" %}
                                            <img src="/static/icons/battery.svg" alt="Battery">
                                            {% endif %}
                                        </label>
                                        {{ asset.display_name }}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.is_producer %}
                                        <a href="analytics?resource={{ asset.name | urlencode }}">
                                            {{ production_per_asset[asset.name] | round(2) }} MWh
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.is_consumer %}
                                        <a href="analytics?resource={{ asset.name | urlencode }}">
                                            {{ consumption_per_asset[asset.name] | round(2) }} MWh
                                        </a>
                                        {% endif %}
                                    </td><td>
                                        {% if asset.asset_type.can_curtail  and curtailment_per_asset[asset.name] > 0 %}
                                        <a href="control?resource={{ asset.name | urlencode }}">
                                            {{ curtailment_per_asset[asset.name] | round(2) }} MWh
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.can_shift and shifting_per_asset[asset.name] > 0 %}
                                        <a href="control?resource={{ asset.name | urlencode }}">
                                            {{ shifting_per_asset[asset.name] | round(2) }} MWh
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td><a href="analytics?resource={{ asset.name | urlencode }}">
                                        {{ profit_loss_flexibility_per_asset[asset.name] | round(2) }} KRW
                                    </a></td>
                                    <!--td>
                                        {% if not prosumer_mock: %}
                                            {% if "onshore" in asset.name:%}
                                            60%
                                            {% else %}
                                            100%
                                            {% endif%}
                                        {% endif %}
                                        {% if prosumer_mock: %}
                                        <select>
                                            <option>100%</option>
                                            <option>80%</option>
                                            <option selected="selected">60%</option>
                                            <option>40%</option>
                                            <option>20%</option>
                                        </select>
                                        {% endif %}
                                    </td-->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <h3>Market status</h3>
                    <table class="table" style="font-size: 100%;">
                        <thead>
                            <tr>
                                <th>Market</th>
                                <th>Product</th>
                                <th>Average price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>KPX DAM</td>
                                <td>Hourly</td>
                                <td>1 KRW/MWh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}