{% extends "base.html" %}

{% set active_page = "portfolio" %}

{% block title %} Portfolio overview {% endblock %}

{% block divs %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    <p>
                        This page shows you how your portfolio of assets is doing in terms of energy (production &amp; consumption) and flexibility.
                        Highlighted time slots require your attention, as upcoming balancing opportunities have been identified.
                    </p>
                    <p>
                        Need help understanding this page? Check out the <a href="static/documentation/html/views/portfolio.html">documentation</a>.
                    </p>
                </div>

                <h3>Controls</h3>
                {% block datetimepicker %} {{ super() }} {% endblock %}

                {% if asset_types | length > 0 %}
                    <h3>Energy summary</h3>
                    <table class="table text-right" style="font-size: 100%;">
                        <thead>
                            <tr>
                                <th><i class="icon-calculator"></i></th>
                                <th class="text-right"><span title="All production by assets of this type.">Production (MWh)</span></th>
                                <th class="text-right"><span title="All consumption by assets of this type.">Consumption (MWh)</span></th>
                                <!--th><span title="The revenue achieved by assets of this type (on the day-ahead market).">Revenue (KRW)</span></th-->
                            </tr>
                        </thead>
                        <tbody>
                        {% for asset_type_name in asset_types %}
                            <tr>
                                <td class="text-left">
                                    {{ asset_type_name }}
                                </td>
                                <td>{% if asset_types[asset_type_name].is_producer and production_per_asset_type[asset_type_name] > 0  %}
                                        {{ "{:,.3f}".format( production_per_asset_type[asset_type_name]  | round(3)) }}
                                    {% endif %}
                                </td>
                                <td>{% if asset_types[asset_type_name].is_consumer and consumption_per_asset_type[asset_type_name] > 0 %}
                                        {{ "{:,.3f}".format( consumption_per_asset_type[asset_type_name]  | round(3)) }}
                                    {% endif %}
                                </td>
                                <!--td>{{ "{:,.2f}".format( profit_loss_energy_per_asset_type[asset_type_name] | round(2)) }}</td-->
                            </tr>
                        {% endfor %}
                        {% if asset_types | length > 1 %}
                            <tr style="font-weight: bold;">
                                <td class="text-left">
                                    Total
                                </td>
                                <td>{{ "{:,.3f}".format( sum_production | round(3)) }}</td>
                                <td>{{ "{:,.3f}".format( sum_consumption | round(3)) }}</td>
                                <!--td>{{ "{:,.2f}".format( sum_profit_loss_energy | round(2)) }}</td-->
                            </tr>
                        {% endif %}
                        </tbody>

                    </table>

                    <h3>Flexibility summary</h3>
                    <table class="table text-right" style="font-size: 100%;">
                        <thead>
                            <tr>
                                <th><i class="icon-calculator"></i></th>
                                <th class="text-right"><span title="All curtailment actions by assets of this type.">Curtailment (MWh)</span></th>
                                <th class="text-right"><span title="All shifting actions by assets of this type.">Shifting (MWh * h)</span></th>
                                <th class="text-right"><span title="The revenue achieved by assets of this type (by payment of supplier).">Revenue (KRW)</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for asset_type_name in asset_types %}
                            <tr>
                                <td class="text-right">
                                    {{ asset_type_name }}
                                </td>
                                <td>{% if asset_types[asset_type_name].is_producer and curtailment_per_asset_type[asset_type_name] > 0  %}
                                        {{ "{:,.3f}".format( curtailment_per_asset_type[asset_type_name]  | round(3)) }}
                                    {% endif %}
                                </td>
                                <td>{% if asset_types[asset_type_name].is_consumer and shifting_per_asset_type[asset_type_name] > 0  %}
                                        {{ "{:,.3f}".format( shifting_per_asset_type[asset_type_name]  | round(3)) }}
                                    {% endif %}
                                </td>
                                <td>{{ "{:,.2f}".format( profit_loss_flexibility_per_asset_type[asset_type_name] | round(2)) }}</td>
                            </tr>
                        {% endfor %}
                        {% if asset_types | length > 1 %}
                            <tr style="font-weight: bold;">
                                <td class="text-left">
                                    Total
                                </td>
                                <td>{{ "{:,.3f}".format( sum_curtailment | round(3)) }}</td>
                                <td>{{ "{:,.3f}".format( sum_shifting | round(3)) }}</td>
                                <td>{{ "{:,.2f}".format( sum_profit_loss_flexibility | round(2)) }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                {% endif %}

            </div>
            <div class="col-sm-8">

                <!--<div class="row">-->
                    <h3>Portfolio status</h3>
                    <div class="alert alert-info">
                        <p>For onshore and vehicles, an opportunity is mocked for the following 4pm timeslot (select time window "today" or "tomorrow").
                            <b>Double-click the opportunity</b> to see the order book. </p>
                        <p> You can also <button><a href="?show_stacked={{alt_stacking}}">Switch to showing stacked {{ alt_stacking }}</a></button> </p>
                    </div>
                    <div class="panel panel-default">
                        {{ portfolio_plots_div | safe }}
                        {{ portfolio_plots_script | safe }}
                    </div>
                <!--</div>-->

                <!--<div class="row">-->
                    <h3>Asset status</h3>
                    <div class="wrapper small-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <!--<th>Energy Service Company</th>-->
                                    <th>Production</th>
                                    <th>Consumption</th>
                                    <th>Curtailment</th>
                                    <th>Shifting</th>
                                    <th>Balancing revenue</th>
                                    <th/>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in assets: %}
                                <tr class="active">
                                    <td>
                                        <i class="icon-{{ asset.asset_type_name }}"></i>
                                        {{ asset.display_name }}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.is_producer %}
                                            {{ production_per_asset[asset.name] | round(2) }} MWh
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.is_consumer %}
                                            {{ consumption_per_asset[asset.name] | round(2) }} MWh
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.can_curtail  and curtailment_per_asset[asset.name] > 0 %}
                                            {{ curtailment_per_asset[asset.name] | round(2) }} MWh
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if asset.asset_type.can_shift and shifting_per_asset[asset.name] > 0 %}
                                            {{ shifting_per_asset[asset.name] | round(2) }} MWh
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ profit_loss_flexibility_per_asset[asset.name] | round(2) }} KRW
                                    </td>
                                    <td>
                                        <form action="analytics" method="get">
                                            <input type="hidden" name="resource" value="{{ asset.name | urlencode }}">
                                            <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>
                                        </form>
                                    </td>
                                                <!--td>
                                        {% if not prosumer_mock: %}
                                            {% if "onshore" in asset.name:%}
                                            60%
                                            {% else %}
                                            100%
                                            {% endif%}
                                        {% endif %}
                                        {% if prosumer_mock: %}
                                        <select>
                                            <option>100%</option>
                                            <option>80%</option>
                                            <option selected="selected">60%</option>
                                            <option>40%</option>
                                            <option>20%</option>
                                        </select>
                                        {% endif %}
                                    </td-->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <!--</div>-->

                <!--<div class="row">-->
                    <h3>Market status</h3>
                    <table class="table" style="font-size: 100%;">
                        <thead>
                            <tr>
                                <th>Market</th>
                                <th>Product</th>
                                <th>Average price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>KPX DAM</td>
                                <td>Hourly</td>
                                <td>1 KRW/MWh</td>
                            </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
        </div>
    </div>
        
{% endblock %}