{% extends "base.html" %}

{% set active_page = "portfolio" %}

{% block title %} Portfolio overview {% endblock %}

{% block divs %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 top-bottom">
                <h3>About</h3>
                <div class="justify">
                    Break-down of portfolio and some analytics and KPIs on portfolio level.
                </div>
                {% block documentation %} {{ super() }} {% endblock %}
                <h3>Controls</h3>
                {% block datetimepicker %} {{ super() }} {% endblock %}
                <div class="todo">
                    <h3>To do</h3>
                    <div class="justify">
                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th>Feature</th>
                                    <th>Expected</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>Show asset groups here, as well (e.g. "wind")</td>
                                    <td>M2</td>
                                </tr>
                                <tr class="active">
                                    <td>VPP status showing aggregated values</td>
                                    <td>M1</td>
                                </tr>
                                <tr>
                                    <td>Portfolio editing: adding/removing assets</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>Portfolio editing: assigning assets to prices</td>
                                    <td>M2</td>
                                </tr>
                                <tr>
                                    <td>...</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row eq-height">
                    <div class="col-sm-8">
                        <h3>Portfolio status</h3>
                        <div class="wrapper small-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Asset</th>
                                        <th>Supplier</th>
                                        <th>Aggregator</th>
                                        <!--<th>Energy Service Company</th>-->
                                        <th>Generation</th>
                                        <th>Consumption</th>
                                        <th>Profit/Loss</th>
                                        <th>Type of actions</th>
                                        <th>Available capacity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in assets %}
                                    <tr class="active">
                                        <td>
                                            <label class="icon-left">
                                                {% if asset.asset_type_name == "wind" %}
                                                <img src="/public/icons/wind.svg" alt="Wind">
                                                {% endif %}
                                                {% if asset.asset_type_name == "solar" %}
                                                <img src="/public/icons/sun.svg" alt="Solar">
                                                {% endif %}
                                                {% if asset.asset_type_name == "charging_station" %}
                                                <img src="/public/icons/battery.svg" alt="Vehicle">
                                                {% endif %}
                                                {% if asset.asset_type_name == "building" %}
                                                <img src="/public/icons/house.svg" alt="Building">
                                                {% endif %}
                                                {% if asset.asset_type_name == "battery" %}
                                                <img src="/public/icons/battery.svg" alt="Battery">
                                                {% endif %}
                                            </label>
                                            {{ asset.display_name }}
                                        </td>
                                        <td>KEPCO</td>
                                        <td>My AGR</td>
                                        <!--td>ESCo 1</td-->
                                        <td>
                                            {% if asset.asset_type.is_producer %}
                                            <a href="analytics?resource={{ asset.name | urlencode }}">
                                                {{ generation[asset.name] | round(2) }} MWh
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if asset.asset_type.is_consumer %}
                                            <a href="analytics?resource={{ asset.name | urlencode }}">
                                                {{ consumption[asset.name] | round(2) }} MWh
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td><a href="analytics?resource={{ asset.name | urlencode }}">{{ revenues[asset.name] | round(2) }} KRW</a></td>
                                        <td>
                                            {% if asset.asset_type_name in ("wind", "house") %}<a href="control">Curtail load</a>{% endif %}
                                            {% if asset.asset_type_name in ("ev", "house") %}<a href="control">Shift load</a>{% endif %}
                                        </td>
                                        <td>
                                            {% if not prosumer_mock: %}
                                                {% if "onshore" in asset.name:%}
                                                60%
                                                {% else %}
                                                100%
                                                {% endif%}
                                            {% endif %}
                                            {% if prosumer_mock: %}
                                            <select>
                                                <option>100%</option>
                                                <option>80%</option>
                                                <option selected="selected">60%</option>
                                                <option>40%</option>
                                                <option>20%</option>
                                            </select>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <h3>Market status</h3>
                        <table class="table" style="font-size: 100%;">
                            <thead>
                                <tr>
                                    <th>Market</th>
                                    <th>Product</th>
                                    <th>Average price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KPX DAM</td>
                                    <td>Hourly</td>
                                    <td>1 KRW/MWh</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <h3>VPP status</h3>
                        <div id="mapid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}