<html>
    <head>
        <title>Test html</title>
    </head>
    <body>
        
        <input id="datetimepicker" type="text" >
        
        
        
        
        <input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
        
    </body>
    
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.min.css"/>
    <script src="/static/js/external/jquery-3.1.0.min.js"></script>
    <script src="/static/js/external/jquery.datetimepicker.full.min.js"></script>
    <script> jQuery('#datetimepicker').datetimepicker(); </script>
    
    
    
    
    
    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script> $('input[name="daterange"]').daterangepicker({
        "timePicker": true,
        locale: {
            format: 'YYYY-MM-DD h:mm A'
        },
        "ranges": {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        "linkedCalendars": false,
        "startDate": "2010-01-01 0:00 AM",
        "endDate": "2020-01-01 0:00 AM"
    }, function(start, end, label) {
      console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
    }); </script>
</html>
