{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} Asset listing {% endblock %}

{% block divs %}

    {{ asset_form.csrf_token }}
    {{ asset_form.hidden_tag() }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <form action="../../analytics" target="_blank" method="get">
                    <input type="hidden" name="resource" value="{{ asset.name | urlencode }}">
                    <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>
                </form>
            </div>
            <div class="col-sm-2">
                <form action="../../assets" method="get">
                    <button class="btn btn-sm btn-responsive btn-info" type="submit">Go to asset overview</button>
                </form>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <form class="form-horizontal" method="POST" action="/assets/{{ asset.id }}">
            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <h2> Editing asset {{ asset.display_name }} </h2>
                        <div class="form-group">
                            {{ asset_form.display_name.label(class="col-sm-6 control-label") }}
                            <div class="col-sm-6">
                                {{ asset_form.display_name(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ asset_form.capacity_in_mw.label(class="col-sm-6 control-label") }}
                            <div class="col-sm-6">
                                {{ asset_form.capacity_in_mw(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ asset_form.latitude.label(class="col-sm-6 control-label") }}
                            <div class="col-sm-6">
                                {{ asset_form.latitude(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ asset_form.longitude.label(class="col-sm-6 control-label") }}
                            <div class="col-sm-6">
                                {{ asset_form.longitude(class_="form-control") }}
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <input type="submit" value="Save">
                        </div>
                        <h2>API info for this asset</h2>
                        <div class="form-group">
                            <label for="asset-id" class="col-sm-6 control-label">Asset id</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="asset-id" name="asset-id" type="text" value="{{ asset.id }}" disabled></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="asset-id" class="col-sm-6 control-label">Owner id</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="owner-id" name="owner-id" type="text" value="{{ asset.owner_id }}" disabled></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ea" class="col-sm-6 control-label">Unique entity address</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="ea" name="ea" type="text" value="{{ asset.entity_address }}" disabled></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Location</h3>
                        <div id="mapid"></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- Initialise the map -->
    <script src="{{ url_for('bvp_ui.static', filename='js/external/leaflet.js') }}"></script>
    <script src="{{ url_for('bvp_ui.static', filename='js/map-init.js') }}"></script>

    <script type="text/javascript">

    // create map
    var assetMap = L
        .map('mapid', {center: [{{ asset.latitude }}, {{ asset.longitude }}], zoom: 10})
        .on('popupopen', function(){
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    tileLayer.addTo(assetMap);

    // create marker
    var {{ asset.asset_type.name }}_icon = new L.DivIcon({
                                    className:      'map-icon',
                                    html:           '<i class="icon-{{ asset.asset_type.name }}"></i>',
                                    iconSize:       [24, 24], // size of the icon
                                    iconAnchor:     [12, 12], // point of the icon which will correspond to marker's location
                                    popupAnchor:    [0, -12] // point from which the popup should open relative to the iconAnchor
                                });
    var marker = L
        .marker(
            [{{ asset.latitude }}, {{ asset.longitude }}],
            {icon: {{ asset.asset_type.name }}_icon}
        ).addTo(assetMap);

    </script>

{% endblock %}
