{% extends "base.html" %} {% set active_page = "accounts" %} {% block title %}
Account overview {% endblock %} {% block divs %}

<div class="pl-3">
  <form action="/accounts/auditlog/{{ account.id }}" method="get">
    <button
      class="btn btn-sm btn-responsive btn-info m-4"
      type="submit"
      title="View history of user actions."
    >
      Audit log
    </button>
  </form>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidepanel-container">
        <div
          class="left-sidepanel-label"
          style="transform: translateX(-30%) !important"
        >
          Edit Account
        </div>
        <div class="sidepanel left-sidepanel">
          <form class="form-horizontal" id="editaccount">
            <fieldset>
              <div class="asset-form">
                <h3>Edit {{ account.name }}</h3>
                <small
                  >Owned by account: {{ account.name }} (ID: {{ account.id
                  }})</small
                >

                <div class="form-group">
                  <div class="form-group">
                    <div class="col-md-3">
                      <label for="name" class="control-label">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        value="{{ account.name }}"
                        required
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3">
                      <label for="primary_color" class="control-label"
                        >Primary Color</label
                      >
                      <span
                        class="fa fa-info d-inline-block ps-2"
                        rel="tooltip"
                        aria-hidden="true"
                        tabindex="0"
                        data-bs-placement="right"
                        data-bs-toggle="tooltip"
                        title="Primary color to use in UI, in hex format. Defaults to FlexMeasures' primary color (#1a3443)"
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        data-bs-placement="right"
                        id="primary_color"
                        name="primary_color"
                        value="{{ account.primary_color or '' }}"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3">
                      <label for="secondary_color" class="control-label"
                        >Secondary Color</label
                      >
                      <span
                        class="fa fa-info d-inline-block ps-2"
                        rel="tooltip"
                        aria-hidden="true"
                        tabindex="0"
                        data-bs-placement="right"
                        data-bs-toggle="tooltip"
                        title="Secondary color to use in UI, in hex format. Defaults to FlexMeasures' primary color (#f1a122)"
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        id="secondary_color"
                        name="secondary_color"
                        value="{{ account.secondary_color or '' }}"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3">
                      <label for="logo_url" class="control-label"
                        >Logo URL</label
                      >
                      <span
                        class="fa fa-info d-inline-block ps-2"
                        rel="tooltip"
                        aria-hidden="true"
                        tabindex="0"
                        data-bs-placement="right"
                        data-bs-toggle="tooltip"
                        title="Logo URL to use in UI. Defaults to FlexMeasures' logo URL"
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        id="logo_url"
                        name="logo_url"
                        value="{{ account.logo_url or '' }}"
                      />
                    </div>
                  </div>

                  {% if user_is_admin %}
                  <div class="form-group">
                    <div class="col-md-3">
                      <label for="consultant_account_id" class="control-label"
                        >Consultant Account</label
                      >
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        id="consultant_account_id"
                        name="consultancy_account_id"
                      >
                        <option
                          value="{{ account.consultancy_account_id or '' }}"
                          selected
                        >
                          {% if account.consultancy_account_id %} {% for
                          consultancy_account in accounts %} {% if
                          consultancy_account.id ==
                          account.consultancy_account_id %} {{
                          consultancy_account.name }} {% endif %} {% endfor %}
                          {% else %} Select Account {% endif %}
                        </option>
                        {% for account in accounts %}
                        <option value="{{ account.id }}">
                          {{ account.name }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  {% endif %}
                </div>

                <button
                  class="btn btn-sm btn-responsive btn-success create-button"
                  type="submit"
                  value="Save"
                  style="
                    margin-top: 20px;
                    float: right;
                    border: 1px solid var(--light-gray);
                  "
                >
                  Save
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div
        class="position-fixed bottom-0 end-0 p-3"
        id="toast-container"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="z-index: 11"
      >
        <button id="close-all-toasts" class="btn">Close All</button>
      </div>

      <div class="card">
        <h3>Account</h3>
        <small>Account: {{ account.name }}</small>
        <div class="table-responsive">
          <table class="table table-striped table-responsive">
            <tbody>
              <tr>
                <td>ID</td>
                <td>{{ account.id }}</td>
              </tr>
              <tr>
                <td>Roles</td>
                <td>
                  {{ account.account_roles | map(attribute='name') | join(", ")
                  }}
                </td>
              </tr>
              {% if account.consultancy_account_name %}
              <tr>
                <td>Consultancy</td>
                <td>{{ account.consultancy_account_name }}</td>
              </tr>
              {% endif %} {% if account.primary_color %}
              <tr>
                <td>Primary Color</td>
                <td>
                  <div
                    style="
                      width: 20px;
                      height: 20px;
                      background-color: {{ account.primary_color }};
                      display: inline-block;
                    "
                  ></div>
                </td>
              </tr>
              {% endif %} {% if account.secondary_color %}
              <tr>
                <td>Secondary Color</td>
                <td>
                  <div
                    style="
                      width: 20px;
                      height: 20px;
                      background-color: {{ account.secondary_color }};
                      display: inline-block;
                    "
                  ></div>
                </td>
              </tr>
              {% endif %} {% if account.logo_url %}
              <tr>
                <td>Logo URL</td>
                <td>
                  <img
                    src="{{ account.logo_url }}"
                    alt="Logo"
                    style="max-width: 100px"
                  />
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <h3>Users</h3>

        <form
          class="ms-auto form-inline"
          role="form"
          target=""
          method="get"
          id="user-list-options"
        >
          <div class="checkbox">
            <label>
              <input
                name="include_inactive"
                {%
                if
                include_inactive
                %}
                checked="checked"
                {%
                endif
                %}
                type="checkbox"
              />
              Include inactive
            </label>
          </div>
        </form>
        <div class="table-responsive">
          <table
            class="table table-responsive paginate nav-on-click"
            title="View/edit this user"
          >
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Timezone</th>
                <th>Last Login</th>
                <th>Last Seen</th>
                <th>Active</th>
                <th class="d-none">URL</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.username }}</td>
                <td>
                  <a href="mailto:{{ user.email }}" title="Mail this user"
                    >{{ user.email }}</a
                  >
                  >
                </td>
                <td>
                  {% for role in user.flexmeasures_roles %} {{ role.name }}{{
                  "," if not loop.last }} {% endfor %}
                </td>
                <td>{{ user.timezone }}</td>
                <td
                  title="{{  user.last_login_at | localized_datetime }}"
                  data-sort="{{ user.last_login_at }}"
                >
                  {{ user.last_login_at | naturalized_datetime}}
                </td>
                <td
                  title="{{  user.last_seen_at | localized_datetime }}"
                  data-sort="{{ user.last_seen_at }}"
                >
                  {{ user.last_seen_at | naturalized_datetime}}
                </td>
                <td>{{ user.active }}</td>
                <td class="d-none">/users/{{ user.id }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <h3>Assets</h3>
        <div class="table-responsive">
          <table
            class="table table-striped table-responsive paginate nav-on-click"
            title="View this asset"
          >
            <thead>
              <tr>
                <th><i class="left-icon">Name</i></th>
                <th>Location</th>
                <th>Asset ID</th>
                <th>Account</th>

                <th>Sensors</th>
                <th class="no-sort">Status</th>
                <th class="text-right no-sort">
                  {% if user_can_create_assets %}
                  <form action="/assets/new" method="get">
                    <button
                      class="btn btn-sm btn-responsive btn-success create-button"
                      type="submit"
                    >
                      Create new asset
                    </button>
                  </form>
                  {% endif %}
                </th>
                <th class="d-none">URL</th>
              </tr>
            </thead>
            <tbody>
              {% for asset in assets %}
              <tr>
                <td>
                  <i
                    class="{{ asset.generic_asset_type.name | asset_icon }} left-icon"
                    >{{ asset.name }}</i
                  >
                </td>
                <td>
                  {% if asset.latitude and asset.longitude %} LAT: {{
                  "{:,.4f}".format( asset.latitude ) }} LONG: {{
                  "{:,.4f}".format( asset.longitude ) }} {% endif %}
                </td>
                <td>{{ asset.id }}</td>
                <td>
                  {% if asset.owner %} {{ asset.owner.name }} {% else %} PUBLIC
                  {% endif %}
                </td>
                <td>{{ asset.sensors | length }}</td>
                <td>
                  <a href="/assets/{{ asset.id }}/status">
                    <button type="button" class="btn">Status</button>
                  </a>
                </td>
                <td class="text-right"></td>
                <td class="d-none">/assets/{{ asset.id }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% block paginate_tables_script %} {{ super() }} {% endblock %}
<script defer>
  const basePath = window.location.origin;
  const form = document.getElementById("editaccount");

  const toastStack = document.getElementById("toast-container");
  const closeToastBtn = document.getElementById("close-all-toasts");

  // written like this since this script(order) is ontop of the main script
  document.addEventListener("DOMContentLoaded", function () {
    initiateToastCloseBtn(closeToastBtn);
  });

  form.addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent the default form submission

    // Collect form data
    const formData = new FormData(event.target);

    // create json payload from formData and set empty string to null
    let payload;
    payload = JSON.stringify(
      Object.fromEntries(
        Array.from(formData.entries()).map(([key, value]) => [
          key,
          value === "" ? null : value,
        ])
      )
    );

    // Make a PATCH request to the API
    fetch(basePath + "/api/v3_0/accounts/" + "{{account.id}}", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: payload,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status == 200) {
          showToast(
            "Account updated successfully!",
            "success",
            toastStack,
            closeToastBtn
          );
        } else {
          if (data.message && typeof data.message === "string") {
            showToast(data.message, "error", toastStack, closeToastBtn);
          } else {
            const errors = data.message.json;

            for (const key in errors) {
              showToast(
                `${key}: ${errors[key]}`,
                "error",
                toastStack,
                closeToastBtn
              );
            }
          }
        }
      });
  });
</script>
{% endblock %}
