{% extends "base.html" %} 
{% set active_page = "accounts" %} 
{% block title %} Account listing {% endblock %} 
{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
            <h3>All Accounts
            </h3>
            <div class="table-responsive">
            <table class="table table-striped table-responsive paginate nav-on-click" title="View this account">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>ID</th>
                        <th>Assets</th>
                        <th>Users</th>
                        <th>Roles</th>
                        <th class="d-none">URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>
                            {{ account.name }}
                        </td>
                        <td>
                            {{ account.id }}
                        </td>
                        <td>
                            {{ account.asset_count }}
                        </td>
                        <td>
                            {{ account.user_count }}
                        </td>
                        <td>
                            {{ account.account_roles | map(attribute='name') | join(", ") }}
                        </td>
                        <td class="d-none">
                            /accounts/{{ account.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
</div>
</div>

{% block paginate_tables_script %} {{ super() }} {% endblock %} {% endblock%}