{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{asset.name}} {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
<!--        <div class="col-sm-1">-->
<!--            <form action="../../analytics" method="get">-->
<!--                <input type="hidden" name="resource" value="{{ asset.name }}">-->
<!--                <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this asset</button>-->
<!--            </form>-->
<!--        </div>-->
        {% if user_is_admin %}
        <div class="col-sm-1">
            <form action="/assets/new" method="get" style="float:right">
                <button class="btn btn-sm btn-responsive btn-success" type="submit">Create new asset</button>
            </form>
        </div>
        <div class="col-sm-1">
            <form action="/assets/delete_with_data/{{ asset.id }}/" method="get" style="float:right">
                <button id="delete-asset-button" class="btn btn-sm btn-responsive btn-danger" type="submit">Delete this
                    asset</button>
            </form>
            <script>
                $("#delete-asset-button").click(function () {
                    if (confirm("Are you sure you want to delete this asset and all time series data associated with it?")) {
                        return true;
                    }
                    else {
                        return false;
                    }
                });
            </script>
        </div>
        {% endif %}
    </div>

    <form class="form-horizontal" method="POST" action="/assets/{{ asset.id }}/">
        {{ asset_form.csrf_token }}
        {{ asset_form.hidden_tag() }}
        <fieldset>
            <div class="row">
                <div class="col-sm-4">

                    <h3>Edit asset {{ asset.name }}</h3>

                    <small>(Owned by account: {{ asset.account_id | accountname }})</small>
                    
                    <div class="form-group">
                        {{ asset_form.name.label(class="col-sm-6 control-label") }}
                        <div class="col-sm-6">
                            {{ asset_form.name(class_="form-control") }}
                            {% for error in asset_form.errors.name %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.latitude.label(class="col-sm-6 control-label") }}
                        <div class="col-sm-6">
                            {{ asset_form.latitude(class_="form-control") }}
                            {% for error in asset_form.errors.latitude %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.longitude.label(class="col-sm-6 control-label") }}
                        <div class="col-sm-6">
                            {{ asset_form.longitude(class_="form-control") }}
                            {% for error in asset_form.errors.longitude %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="assset-type" class="col-sm-6 control-label">Asset Type</label>
                         <div class="col-sm-6">
                            <input class="form-control" id="asset-type-id" name="asset-type" type="text"
                                value="{{ asset.generic_asset_type.name }}" disabled></input>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="account-id" class="col-sm-6 control-label">Owner account id</label>
                         <div class="col-sm-6">
                            <input class="form-control" id="owner-id" name="account-id" type="text"
                                value="{{ asset.account_id }}" disabled></input>
                         </div>
                     </div>

                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-sm btn-responsive btn-success" type="submit" value="Save">Save</button>
                    </div>

                    <h3>API info for this asset</h3>

                    <div class="form-group">
                        <label for="asset-id" class="col-sm-6 control-label">Asset id</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="asset-id" name="asset-id" type="text" value="{{ asset.id }}"
                                disabled></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="account-id" class="col-sm-6 control-label">Owner account id</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="account-id" name="account-id" type="text"
                                value="{{ asset.account_id }}" disabled></input>
                        </div>
                    </div>


                </div>
                <div class="col-sm-2">
                    <h3>Latest state</h3>
                    {% if asset_plot_html %}
                    <small>(At {{ latest_measurement_time_str | safe}})</small>
                    {{ asset_plot_html | safe}}
                    {% else %}
                    <small>No last state known (yet).</small>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <h3>Location</h3>
                    <small>(Click map to edit latitude and longitude in form)</small>
                    <div id="mapid"></div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <h3>All sensors for this asset</h3>
        <table class="table table-striped table-responsive paginate">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right">Unit</th>
                    <th class="text-right">Resolution</th>
                    <th class="text-right no-sort">Entity address</th>
                    <th class="text-right no-sort">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in asset.sensors: %}
                <tr>
                    <td>
                        {{ sensor.name }}
                    </td>
                    <td class="text-right">
                        {{ sensor.unit }}
                    </td>
                    <td class="text-right">
                        {{ sensor.event_resolution | naturalized_timedelta }}
                    </td>
                    <td class="text-right">
                        {{ sensor.entity_address }}
                    </td>
                    <td class="text-right">
                        <a href="/sensors/{{ sensor.id }}">View plot</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>


</div>

<!-- Initialise the map -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet-src.min.js"></script>
<script src="{{ url_for('flexmeasures_ui.static', filename='js/map-init.js') }}"></script>

<script type="text/javascript">

    // create map
    var assetMap = L
        .map('mapid', { center: [{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}], zoom: 10})
        .on('popupopen', function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    addTileLayer(assetMap, '{{ mapboxAccessToken }}');

    // create marker
    var asset_icon = new L.DivIcon({
        className: 'map-icon',
        html: '<i class="icon-empty-marker center-icon supersize"></i><i class="overlay center-icon {{ asset.generic_asset_type.name | default("info") | asset_icon }}"></i>',
        iconSize: [100, 100], // size of the icon
        iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -50] // point from which the popup should open relative to the iconAnchor
    });
    var marker = L
        .marker(
            [{{ asset.latitude | replace("None", 10)}}, {{ asset.longitude | replace("None", 10) }}],
    { icon: asset_icon }
        ).addTo(assetMap);

    assetMap.on('click', function (e) {
        $("#latitude").val(e.latlng.lat.toFixed(4));
        $("#longitude").val(e.latlng.lng.toFixed(4));
        marker.setLatLng(e.latlng);
    });
</script>

{% endblock %}