{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} New asset {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="../../assets" method="get">
                <button class="btn btn-sm btn-responsive btn-info" type="submit">Go to asset overview</button>
            </form>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <form class="new-asset-form form-horizontal" method="POST" action="/assets/create">
        {{ asset_form.csrf_token }}
        {{ asset_form.hidden_tag() }}
        <fieldset>
            <div class="row">
                <div class="col-md-6">

                    <h2> Creating a new asset </h2>

                    <div class="form-group">
                        {{ asset_form.name.label(class="col-md-6 control-label") }}
                        <div class="col-md-6">
                            {{ asset_form.name(class_="form-control") }}
                            {% for error in asset_form.errors.name %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.generic_asset_type_id.label(class="col-md-6 control-label")}}
                        <div class="col-md-6">
                            {{ asset_form.generic_asset_type_id(class_="form-control") }}
                            {% for error in asset_form.errors.generic_asset_type_id%}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.account_id.label(class="col-md-6 control-label") }}
                        <div class="col-md-6">
                            {{ asset_form.account_id(class_="form-control") }}
                            {% for error in asset_form.errors.account_id %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.latitude.label(class="col-md-6 control-label") }}
                        <div class="col-md-6">
                            {{ asset_form.latitude(class_="form-control") }}
                            {% for error in asset_form.errors.latitude %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ asset_form.longitude.label(class="col-md-6 control-label") }}
                        <div class="col-md-6">
                            {{ asset_form.longitude(class_="form-control") }}
                            {% for error in asset_form.errors.longitude %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <p>Fields below can form part of this asset's flex context (<a href="https://flexmeasures.readthedocs.io/en/latest/features/scheduling.html#the-flex-context">flex context</a>). They can also be set in a parent asset or in the API requests.</p>
                    {% if asset_form.consumption_price_sensor_id %}
                        <div class="form-group">
                            {{ asset_form.consumption_price_sensor_id.label(class="col-sm-3 control-label") }}
                            <div class="col-sm-3">
                                {{ asset_form.consumption_price_sensor_id(class_="form-control") }}
                                {% for error in asset_form.errors.consumption_price_sensor_id %}
                                <span style="color: red;">[{{error}}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if asset_form.production_price_sensor_id %}
                        <div class="form-group">
                            {{ asset_form.production_price_sensor_id.label(class="col-sm-3 control-label") }}
                            <div class="col-sm-3">
                                {{ asset_form.production_price_sensor_id(class_="form-control") }}
                                {% for error in asset_form.errors.production_price_sensor_id %}
                                <span style="color: red;">[{{error}}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if asset_form.inflexible_device_sensor_ids %}
                        <div class="form-group">
                            {{ asset_form.inflexible_device_sensor_ids.label(class="col-sm-3 control-label") }}
                            <div class="col-sm-3">
                                {{ asset_form.inflexible_device_sensor_ids(class_="form-control") }}
                                {% for error in asset_form.errors.inflexible_device_sensor_ids %}
                                <span style="color: red;">[{{error}}]</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ asset_form.attributes.label(class="col-md-6 control-label") }}
                        <div class="col-md-6">
                            {{ asset_form.attributes(class_="form-control") }}
                            {% for error in asset_form.errors.attributes %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" value="Create">
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Location</h3>
                    <small>(Click map to edit latitude and longitude in form)</small>
                    <div id="mapid"></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Initialise the map -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet-src.min.js"></script>
<script src="{{ url_for('flexmeasures_ui.static', filename='js/map-init.js') }}"></script>

<script type="text/javascript">

    // create map
    var assetMap = L
        .map('mapid', { center: [{{ map_center[0] }}, {{ map_center[1] }}], zoom: 10})
        .on('popupopen', function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    addTileLayer(assetMap, '{{ mapboxAccessToken }}');


    var location_icon = new L.DivIcon({
        className: 'map-icon',
        html: '<i class="icon-empty-marker center-icon supersize"></i>',
        iconSize: [100, 100], // size of the icon
        iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -50] // point from which the popup should open relative to the iconAnchor
    });

    // dummy location somewhere else
    var newMarker = new L.marker([100, 100], { icon: location_icon }).addTo(assetMap);

    assetMap.on('click', function (e) {
        $("#latitude").val(e.latlng.lat.toFixed(4));
        $("#longitude").val(e.latlng.lng.toFixed(4));
        newMarker.setLatLng(e.latlng);
    });

</script>

{% endblock %}