{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{ asset.name }} - Scenario {% endblock %}

{% block divs %}

{% block breadcrumbs %} {{ super() }} {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 card">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 10px;">
                            <h1>
                                Asset:  <a href="{{ url_for('AssetCrudUI:get', id=asset.id) }}">
                                    <i>{{ asset.name }}</i>
                                </a>
                                <span>({{ asset.generic_asset_type.name.split('.')[-1] | title }})</span>
                            </h1>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-primary me-2" onclick='openSensorsModal()'>
                                    Show sensors
                                </button>
                                <button class="btn btn-sm btn-primary me-2" id="viewMapButton">
                                    View Map
                                </button>
                                <button class="btn btn-sm btn-primary me-2" id="viewGraphtButton">
                                    <a class="text-decoration-none text-white" href="{{ url_for('AssetCrudUI:assetgraph', id=asset.id) }}">
                                        View Graph
                                    </a>
                                </button>
                                <button class="btn btn-sm btn-primary me-2" id="assetStatusButton">
                                    <a class="text-decoration-none text-white" href="{{ url_for('AssetCrudUI:status', id=asset.id) }}">
                                        Asset Status
                                    </a>
                                </button>
                                <button class="btn btn-sm btn-primary me-2" id="auditLogButton">
                                    <a class="text-decoration-none text-white" href="{{ url_for('AssetCrudUI:auditlog', id=asset.id) }}">
                                        Audit Log
                                    </a>
                                </button>
                                <button class="btn btn-sm btn-primary me-2" id="propertiesButton">
                                    <a class="text-decoration-none text-white" href="{{ url_for('AssetCrudUI:assetproperties', id=asset.id) }}">
                                        Properties
                                    </a>
                                    
                                </button>
                            </div>
                            
                        </div>                        
                    </div>           
                    <div class="col-sm-2">
                        {% if can_delete %}
                        <button type="button" class="btn delete-button" onClick="delete_asset(event, {{ asset.id }}, '{{ asset.name }}')">Delete Scenario</button>
                        {% endif %}
                    </div>
                    <div class="col-sm-12">
                        {% from "_macros.html" import show_tree %}
                        {{ show_tree(assets, asset.name) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            
            <!-- Bootstrap Modal for Sensors -->
            <div class="modal fade" id="sensorsModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Node Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <table id="modalTable" class="table table-bordered">
                        <thead id="modalTableHead"></thead>
                        <tbody id="modalTableBody"></tbody>
                    </table>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Bootstrap Modal for Map -->
            <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mapModalTitle">{{asset.name}} Map View</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mx-1">
                                <div class="alert alert-info d-none" id="tzwarn"></div>
                                <div class="alert alert-info d-none" id="dstwarn"></div>
                            </div>
                            <div id="modalMap" style="height: 400px;"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function openSensorsModal() {
            const sensors = {{ current_asset_sensors | safe }};
            document.getElementById("modalTitle").innerText = "Sensors for " + '{{ asset.name }}';
            let tableHead = document.getElementById("modalTableHead");
            let tableBody = document.getElementById("modalTableBody");

            // Clear previous content
            tableHead.innerHTML = "";
            tableBody.innerHTML = "";

            if (sensors && sensors.length > 0) {
                let keys = Object.keys(sensors[0]); // e.g., ['name', 'unit']
                keys.pop("link"); // Remove the 'link' from the table
                
                // Create table header row
                let headerRow = document.createElement("tr");
                keys.forEach(key => {
                let headerText = key.charAt(0).toUpperCase() + key.slice(1);
                let th = document.createElement("th"); // Use <th> for header cells
                th.innerText = headerText;
                th.setAttribute("aria-label", headerText); // set aria-label so floatThead can pick it up
                headerRow.appendChild(th);
                });
                tableHead.appendChild(headerRow);

                // Force destroy the floatThead instance
                setTimeout(function(){
                if ($.fn.floatThead) {
                    $('#modalTable').floatThead('destroy');
                }
                }, 200);

                // Populate table with sensor data
                sensors.forEach(sensor => {
                let row = document.createElement("tr");
                keys.forEach(key => {
                    let td = document.createElement("td");
                    if (key === "name") {
                    // Create an anchor element
                    let a = document.createElement("a");
                    a.innerText = sensor[key] !== undefined ? sensor[key] : "N/A";
                    // Set the href; you can modify this as needed, for example using sensor.link if available
                    a.href = sensor.link;
                    td.appendChild(a);
                    } else {
                    td.innerText = sensor[key] !== undefined ? sensor[key] : "N/A";
                    }
                    row.appendChild(td);
                });
                tableBody.appendChild(row);
                });
            } else {
                tableBody.innerHTML = "<tr><td colspan='100%'>No sensor data available</td></tr>";
            }

            // Show Bootstrap modal
            let modal = new bootstrap.Modal(document.getElementById('sensorsModal'));
            modal.show();
        }

        document.getElementById('viewMapButton').addEventListener('click', function() {
            let modal = new bootstrap.Modal(document.getElementById('mapModal'));
            modal.show();

            // Initialize the map inside the modal
            setTimeout(function() {
                var modalMap = L.map('modalMap', { center: [{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}], zoom: 10 });
                addTileLayer(modalMap, '{{ mapboxAccessToken }}');

                var asset_icon = new L.DivIcon({
                    className: 'map-icon',
                    html: '<i class="icon-empty-marker center-icon supersize"></i><i class="overlay center-icon {{ asset.generic_asset_type.name | default("info") | asset_icon }}"></i>',
                    iconSize: [100, 100], // size of the icon
                    iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
                    popupAnchor: [0, -50] // point from which the popup should open relative to the iconAnchor
                });

                var marker = L.marker([{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}], { icon: asset_icon }).addTo(modalMap);
            }, 500); // Delay to ensure modal is fully shown before initializing the map
        });
    </script>

    <style>
        details {
            display: none;
        }
    </style>

<!-- Initialise the map -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet-src.min.js"></script>
<script src="{{ url_for('flexmeasures_ui.static', filename='js/map-init.js') }}"></script>

<script type="text/javascript">

    // create map
    var assetMap = L
        .map('mapid', { center: [{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}], zoom: 10})
        .on('popupopen', function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    addTileLayer(assetMap, '{{ mapboxAccessToken }}');

    // create marker
    var asset_icon = new L.DivIcon({
        className: 'map-icon',
        html: '<i class="icon-empty-marker center-icon supersize"></i><i class="overlay center-icon {{ asset.generic_asset_type.name | default("info") | asset_icon }}"></i>',
        iconSize: [100, 100], // size of the icon
        iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -50] // point from which the popup should open relative to the iconAnchor
    });
    var marker = L
        .marker(
            [{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}],
    { icon: asset_icon }
        ).addTo(assetMap);

    assetMap.on('click', function (e) {
        $("#latitude").val(e.latlng.lat.toFixed(4));
        $("#longitude").val(e.latlng.lng.toFixed(4));
        marker.setLatLng(e.latlng);
    });
</script>
{% endblock %}