{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{asset.name}} {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div class="asset auditlog card">
            <h3>History of actions for asset <a href="/assets/{{ asset.id }}">{{ asset.name }}</a></h3>
            <table id="asset_audit_log" class="table table-striped table-responsive paginate nav-on-click" title="View data">
                <thead>
                    <tr>
                        <th style="display:none;">Event Timestamp</th><!-- Hidden UTC Timestamp column for sorting, Keep at position zero -->
                        <th>Event Datetime</th>
                        <th>Event Name</th>
                        <th>Acting user</th>
                    </tr>
                </thead>
                <tbody>
                    {% for audit_log in audit_logs: %}
                    <tr>
                        <td style="display:none;">
                            {{ audit_log.event_datetime | to_utc_timestamp }} <!-- Hidden UTC Timestamp column for sorting, Keep at position zero -->
                        </td>
                        <td title="{{  audit_log.event_datetime }}">
                            {{ audit_log.event_datetime | naturalized_datetime }}
                        </td>
                        <td>
                            {{ audit_log.event }}
                        </td>
                        <td>
                            {{ audit_log.active_user_name }} (Id: {{ audit_log.active_user_id }})
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#asset_audit_log').DataTable({
            "order": [[ 0, "desc" ]]  // Sort by the hidden UTC Timestamp column
        });
    });
</script>

{% endblock %}