{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} {{asset.name}} {% endblock %}



{% block divs %}

<nav aria-label="breadcrumb ">
    <ol class="breadcrumb p-2">
        {% for breadcrumb in breadcrumb_info["ancestors"] %}
        <li class="breadcrumb-item{% if loop.last %} dropdown active{% endif %}" {% if loop.last %}aria-current="page"{% endif %}>
            {% if breadcrumb["url"] is not none and not loop.last %}
            <a href="{{ breadcrumb['url'] }}">{{ breadcrumb['name'] }}</a>
            {% else %}
            <a href="{{ breadcrumb['url'] }}" class="dropdown-toggle" data-bs-toggle="dropdown"  aria-expanded="false" role="button">{{ breadcrumb['name'] }}</a>
            <ul class="dropdown-menu">
                {% for sibling in breadcrumb_info["siblings"] %}
                <li><a  class="p-3 dropdown-item" href="{{ sibling['url'] }}">{{ sibling["name"] }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>



  


<div class="container-fluid">
    <div class="row mx-1">
        <div class="alert alert-info d-none" id="tzwarn"></div>
        <div class="alert alert-info d-none" id="dstwarn"></div>
    </div>
    <div class="row">
        <div class="col-md-2 on-top-md">
            <div class="header-action-button">
                {% if user_can_create_assets %}
                <div>
                    <form action="/assets/new" method="get">
                        <button class="btn btn-sm btn-responsive btn-success create-button mb-3" type="submit">Create new asset</button>
                    </form>
                </div>
                {% endif %}
                {% if user_can_delete_asset %}
                <div>
                    <form action="/assets/delete_with_data/{{ asset.id }}" method="get">
                        <button id="delete-asset-button" class="btn btn-sm btn-responsive btn-danger" type="submit">Delete this asset</button>
                    </form>
                    <script>
                        $("#delete-asset-button").click(function () {
                            if (confirm("Are you sure you want to delete this asset and all time series data associated with it?")) {
                                return true;
                            }
                            else {
                                return false;
                            }
                        });
                    </script>
                </div>
                {% endif %}
            </div>
            <div class="header-action-button">
                <div>
                    <form action="/assets/{{ asset.id }}/status" method="get">
                        <button id="asset-status-button" class="btn btn-sm btn-responsive btn-info" type="submit">Asset status</button>
                    </form>
                </div>
                <div>
                    <form action="/assets/auditlog/{{ asset.id }}" method="get">
                        <button class="btn btn-sm btn-responsive btn-info" type="submit"
                            title="View history of asset related actions.">Audit log</button>
                    </form>
                </div>
            </div>
            <div class="sidepanel-container">
                <div class="left-sidepanel-label">Select dates</div>
                <div class="sidepanel left-sidepanel">
                    <div id="datepicker"></div>
                </div>
            </div>
            <div class="sidepanel-container">
                <div class="left-sidepanel-label">Edit asset</div>
                <div class="sidepanel left-sidepanel">
                    <form class="form-horizontal" method="POST" action="/assets/{{ asset.id }}">
                        {{ asset_form.csrf_token }}
                        {{ asset_form.hidden_tag() }}
                        <fieldset>
                            <div class="asset-form">

                                <h3>Edit {{ asset.name }}</h3>
                                <small>Owned by account: {{ asset.account_id | accountname }} (ID: {{ asset.account_id }})</small>

                                <div class="form-group">
                                    {{ asset_form.name.label(class="col-sm-3 control-label") }}
                                    <div class="col-md-3">
                                        {{ asset_form.name(class_="form-control") }}
                                        {% for error in asset_form.errors.name %}
                                        <span style="color: red;">[{{error}}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ asset_form.latitude.label(class="col-sm-6 control-label") }}
                                    <div class="col-md-6">
                                        {{ asset_form.latitude(class_="form-control") }}
                                        {% for error in asset_form.errors.latitude %}
                                        <span style="color: red;">[{{error}}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ asset_form.longitude.label(class="col-sm-6 control-label") }}
                                    <div class="col-md-6">
                                        {{ asset_form.longitude(class_="form-control") }}
                                        {% for error in asset_form.errors.longitude %}
                                        <span style="color: red;">[{{error}}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="assset-type" class="col-sm-6 control-label">Asset Type</label>
                                     <div class="col-md-6">
                                        <input class="form-control" id="asset-type-id" name="asset-type" type="text"
                                            value="{{ asset.generic_asset_type.name }}" disabled></input>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="asset-id" class="col-sm-6 control-label">Asset id</label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="asset-id" name="asset-id" type="text" value="{{ asset.id }}"
                                            disabled></input>
                                    </div>
                                </div>
                                {% if asset_form.consumption_price_sensor_id or asset_form.production_price_sensor_id or asset_form.inflexible_device_sensor_ids %}
                                <div class="form-group form-group-bordered">
                                    <p>Fields in this section can form part of this asset's <a href="https://flexmeasures.readthedocs.io/en/latest/features/scheduling.html#the-flex-context">flex context</a>. They can also be set in a parent asset or in API requests that trigger schedules.</p>
                                    {% if asset_form.consumption_price_sensor_id %}
                                        <div class="form-group">
                                            {{ asset_form.consumption_price_sensor_id.label(class="col-sm-3 control-label") }}
                                            <div class="col-sm-3">
                                                {{ asset_form.consumption_price_sensor_id(class_="form-control") }}
                                                {% for error in asset_form.errors.consumption_price_sensor_id %}
                                                <span style="color: red;">[{{error}}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if asset_form.production_price_sensor_id %}
                                        <div class="form-group">
                                            {{ asset_form.production_price_sensor_id.label(class="col-sm-3 control-label") }}
                                            <div class="col-sm-3">
                                                {{ asset_form.production_price_sensor_id(class_="form-control") }}
                                                {% for error in asset_form.errors.production_price_sensor_id %}
                                                <span style="color: red;">[{{error}}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if asset_form.inflexible_device_sensor_ids %}
                                        <div class="form-group">
                                            {{ asset_form.inflexible_device_sensor_ids.label(class="col-sm-3 control-label") }}
                                            <div class="col-sm-3">
                                                {{ asset_form.inflexible_device_sensor_ids(class_="form-control") }}
                                                {% for error in asset_form.errors.inflexible_device_sensor_ids %}
                                                <span style="color: red;">[{{error}}]</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    {{ asset_form.attributes.label(class="col-sm-3 control-label") }}
                                    <div class="col-md-3">
                                        {{ asset_form.attributes(class_="form-control") }}
                                        {% for error in asset_form.errors.attributes %}
                                        <span style="color: red;">[{{error}}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <label class="control-label">Location</label>
                                <small>(Click map to edit latitude and longitude in form)</small>
                                <div id="mapid"></div>
                                <button class="btn btn-sm btn-responsive btn-success create-button" type="submit" value="Save" style="margin-top: 20px; float: right; border: 1px solid var(--light-gray);">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="spinner" hidden="hidden">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div id="sensorchart" class="card" style="width: 100%;"></div>
            <div class="row">
                <div class="copy-url" title="Click to copy the URL to the current time range to clipboard.">
                    <script>
                        function toIsoString(date) {
                            var tzo = -date.getTimezoneOffset(),
                                dif = tzo >= 0 ? '+' : '-',
                                pad = function(num) {
                                    return (num < 10 ? '0' : '') + num;
                                };

                            return date.getFullYear() +
                                '-' + pad(date.getMonth() + 1) +
                                '-' + pad(date.getDate()) +
                                'T' + pad(date.getHours()) +
                                ':' + pad(date.getMinutes()) +
                                ':' + pad(date.getSeconds()) +
                                dif + pad(Math.floor(Math.abs(tzo) / 60)) +
                                ':' + pad(Math.abs(tzo) % 60);
                        }

                        $(window).ready(() => {
                            picker.on('selected', (startDate, endDate) => {
                                startDate = encodeURIComponent(toIsoString(startDate.toJSDate()));
                                endDate = encodeURIComponent(toIsoString(endDate.toJSDate()));
                                var base_url = window.location.href.split("?")[0];
                                var new_url = `${base_url}?start_time=${startDate}&end_time=${endDate}`;
                                
                                // change current url without reloading the page
                                window.history.pushState({}, null, new_url);
                            });

                        });

                        function copyUrl(event) {
                            event.preventDefault();

                            if (!window.getSelection) {
                                alert('Please copy the URL from the location bar.');
                                return;
                            }
                            const dummy = document.createElement('p');

                            var startDate = encodeURIComponent(toIsoString(picker.getStartDate().toJSDate()));
                            // add 1 day to end date as datepicker does not include the end date day
                            var endDate = picker.getEndDate();
                            endDate.setDate(endDate.getDate() + 1);
                            endDate = encodeURIComponent(toIsoString(endDate.toJSDate()));
                            var base_url = window.location.href.split("?")[0];
                            dummy.textContent = `${base_url}?start_time=${startDate}&end_time=${endDate}`
                            document.body.appendChild(dummy);

                            const range = document.createRange();
                            range.setStartBefore(dummy);
                            range.setEndAfter(dummy);

                            const selection = window.getSelection();
                            // First clear, in case the user already selected some other text
                            selection.removeAllRanges();
                            selection.addRange(range);

                            document.execCommand('copy');
                            document.body.removeChild(dummy);

                            $("#message").show().delay(1000).fadeOut();
                        }
                    </script>
                    <a href="#" onclick="copyUrl(event)" style="display: block; text-align: center;">
                        <i class="fa fa-link"></i>
                    </a>
                    <div id="message" style="display: none; text-align: center;">The URL to the time range currently shown has been copied to your clipboard.</div>
                </div>
            </div>
            <div class="sensors-asset card">
                <h3>All sensors for {{ asset.name }}</h3>
                <div class="table-responsive">
                    <table class="table table-striped paginate nav-on-click" title="View data">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th class="text-right">Unit</th>
                                <th class="text-right">Resolution</th>
                                <th class="text-right no-sort">Entity address</th>
                                <th class="d-none">URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sensor in asset.sensors: %}
                            <tr>
                                <td>
                                    {{ sensor.name }}
                                </td>
                                <td>
                                    {{ sensor.id }}
                                </td>
                                <td class="text-right">
                                    {{ sensor.unit }}
                                </td>
                                <td class="text-right">
                                    {{ sensor.event_resolution | naturalized_timedelta }}
                                </td>
                                <td class="text-right">
                                    {{ sensor.entity_address }}
                                </td>
                                <td class="d-none">
                                    /sensors/{{ sensor.id }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                
            <div class="sensors-asset card">
                <h3>All child assets for {{ asset.name }}</h3>
                <div class="table-responsive">
                    <table class="table table-striped paginate nav-on-click w-100 mx-auto" title="View this asset">
                        <thead>
                            <tr>
                                <th><i class="left-icon">Name</i></th>
                                <th>Location</th>
                                <th>Asset ID</th>
                                <th>Account</th>
                                <th>Sensors</th>
                                <th class="d-none">URL</th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child in asset.child_assets %}
                            <tr>
                                <td>
                                    <i class="{{ child.generic_asset_type.name | asset_icon }} left-icon">{{ child.name }}</i>
                                </td>
                                <td>
                                    {% if child.latitude and child.longitude %}
                                    LAT: {{ "{:,.4f}".format( child.latitude ) }} LONG:
                                    {{ "{:,.4f}".format( child.longitude ) }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ child.id }}
                                </td>
                                <td>
                                    {% if child.owner %}
                                    {{ child.owner.name }}
                                    {% else %}
                                    PUBLIC
                                    {% endif %}
                                </td>
                                <td>
                                    {{ child.sensors | length }}
                                </td>
                                <td class="d-none">
                                    /assets/{{ child.id }}
                                </td>
                                <td>
                                    <a href="/assets/{{ child.id }}/status">
                                        <button type="button" class="btn">Status</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="replay-container">
                <div id="replay" title="Press 'p' to play/pause/resume or 's' to stop." class="stopped"></div>
                <div id="replay-time"></div>
            </div>
        </div>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/ranges.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/plugins/keyboardnav.js"></script>

{% block leftsidepanel %} {{ super() }} {% endblock %}
{% block sensorChartSetup %} {{ super() }} {% endblock %}

<!-- Initialise the map -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet-src.min.js"></script>
<script src="{{ url_for('flexmeasures_ui.static', filename='js/map-init.js') }}"></script>

<script type="text/javascript">

    // create map
    var assetMap = L
        .map('mapid', { center: [{{ asset.latitude | replace("None", 10) }}, {{ asset.longitude | replace("None", 10) }}], zoom: 10})
        .on('popupopen', function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        });
    addTileLayer(assetMap, '{{ mapboxAccessToken }}');

    // create marker
    var asset_icon = new L.DivIcon({
        className: 'map-icon',
        html: '<i class="icon-empty-marker center-icon supersize"></i><i class="overlay center-icon {{ asset.generic_asset_type.name | default("info") | asset_icon }}"></i>',
        iconSize: [100, 100], // size of the icon
        iconAnchor: [50, 50], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -50] // point from which the popup should open relative to the iconAnchor
    });
    var marker = L
        .marker(
            [{{ asset.latitude | replace("None", 10)}}, {{ asset.longitude | replace("None", 10) }}],
    { icon: asset_icon }
        ).addTo(assetMap);

    assetMap.on('click', function (e) {
        $("#latitude").val(e.latlng.lat.toFixed(4));
        $("#longitude").val(e.latlng.lng.toFixed(4));
        marker.setLatLng(e.latlng);
    });
</script>

{% endblock %}
