{% extends "base.html" %}

{% set active_page = "assets" %}

{% block title %} Asset listing {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <h2>All assets owned by account {{account.name}}</h2>
            <table class="table table-striped table-responsive paginate">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-right no-sort">Location</th>
                        <th class="text-right">Asset id</th>
                        <th class="text-right">Account id</th>
                        <th class="text-right no-sort">Sensors</th>
                        <th class="text-right no-sort">
                            {% if user_is_admin %}
                            <form action="/assets/new" method="get">
                                <button class="btn btn-sm btn-responsive btn-success" type="submit">Create new
                                    asset</button>
                            </form>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for asset in assets: %}
                    <tr>
                        <td>
                            <i class="{{ asset.generic_asset_type.name | asset_icon }} left-icon"><a
                                    href="/assets/{{ asset.id }}" alt="Edit this asset">{{ asset.name }}</a></i>
                        </td>
                        <td class="text-right">
                            {% if asset.latitude and asset.longitude %}
                            LAT: {{ "{:,.4f}".format( asset.latitude ) }} LONG:
                            {{ "{:,.4f}".format( asset.longitude ) }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {{ asset.id }}
                        </td>
                        <td class="text-right">
                            {{ asset.account_id }}
                        </td>
                        <td class="text-right">
                            {{ asset.sensors | length }}
                        </td>
                        <td class="text-right">
<!--                            <form action="../../analytics" method="get">-->
<!--                                <input type="hidden" name="resource" value="{{ asset.name }}">-->
<!--                                <button class="btn btn-sm btn-responsive btn-info" type="submit">Analyse this-->
<!--                                    asset</button>-->
<!--                            </form>-->
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% block paginate_tables_script %} {{ super() }} {% endblock %}

{% endblock%}