{% extends "base.html" %}

{% set active_page = "users" %}

{% block title %} User {{ user.username }} {% endblock %}

{% block divs %}

<div class="container-fluid">
    <div class="row">
        <div class="sensors-asset card">
            <h3>History of actions for user {{ user.username }}</h3>
            <table class="table table-striped table-responsive paginate nav-on-click" title="View data">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Event Datetime</th>
                        <th>Active user id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for audit_log in audit_logs: %}
                    <tr>
                        <td>
                            {{ audit_log.event }}
                        </td>
                        <td>
                            {{ audit_log.event_datetime }}
                        </td>
                        <td>
                            {{ audit_log.active_user_id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}