{% extends "base.html" %} 
{% set active_page = "users" %} 
{% block title %} User listing {% endblock %} 
{% block divs %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="card">
        <h3 id="usersTableTitle">All users</h3>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              id="inactiveUsersCheckbox"
              name="include_inactive"
              type="checkbox"
            />
            Include inactive
          </label>
        </div>
        <div class="table-responsive">
          <table
            class="table table-striped paginate nav-on-click"
            title="View this asset"
            id="usersTable"
          ></table>
        </div>

      </div>
    </div>
  </div>
</div>

{% block paginate_tables_script %} {{ super() }} {% endblock %} {% endblock%}
