{% extends "base.html" %}

{% set active_page = "users" %}

{% block title %} User {{ user.username }} {% endblock %}

{% block divs %}

{% if user %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 on-top-md">
      <div class="header-action-button">
        <div class="">
          <form action="/users/toggle_active/{{ user.id }}" method="get">
            <button class="btn btn-sm btn-responsive {% if user.active %} btn-warning  {% else %} btn-success {% endif %} delete-button mb-3" type="submit" title="Toggle activation status of this user.">
                {% if user.active %} Deactivate user {% else %} Activate user {% endif %}
            </button>
          </form>
        </div>
        <div>
          <form action="/users/reset_password_for/{{ user.id }}" method="get">
            <button class="btn btn-sm btn-responsive btn-info delete-button" type="submit"
              title="Reset the password and send instructions how to choose a new one.">Reset password</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-data-table card">
        <h2>User overview</h2>
        <small>User: {{ user.username }}</small>
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>
                    Email address
                  </td>
                  <td>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Account
                  </td>
                  <td>
                    <a href="/accounts/{{ user.account.id }}">{{ user.account.name }}</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Assets in account
                  </td>
                  <td>
                    <a href="/assets/owned_by/{{ user.account.id }}">{{ asset_count }}</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Time Zone
                  </td>
                  <td>
                    {{ user.timezone }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Last login was
                  </td>
                  <td title="{{  user.last_login_at | localized_datetime }}">
                    {{  user.last_login_at | naturalized_datetime }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Last seen
                  </td>
                  <td title="{{  user.last_seen_at | localized_datetime }}">
                    {{  user.last_seen_at | naturalized_datetime }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Roles
                  </td>
                  <td>
                    {% for role in user.flexmeasures_roles %}
                    {{ role.name }}{{ "," if not loop.last }}
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <td>
                    Active
                  </td>
                  <td>
                    {{ user.active }}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endif %}

{% endblock %}
