{% extends "base.html" %}

{% set active_page = "logged-in-user" %}

{% block title %} Please log in {% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block divs %}

<div class="container-fluid">
    <div class="row" style="text-align: center; padding-bottom: 30px;">
        <div class="col-md-12">
            {% block platform_title %}
            <h1>The FlexMeasures Platform</h1>
            {% endblock platform_title %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="login-form">
                    <h1>{{ _fsdomain('Login') }}</h1>
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}
                        {{ render_field_with_errors(login_user_form.email) }}
                        {{ render_field_with_errors(login_user_form.password) }}
                        {{ render_field_with_errors(login_user_form.remember) }}
                        {{ render_field(login_user_form.submit) }}
                    </form>
                    <form action="/reset" method="get">
                        <button class="btn btn-sm btn-responsive btn-link" type="submit">Forgot password?</button>
                    </form>
                    {% if FLEXMEASURES_MODE == "demo" and FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS %}
                    <div class="alert alert-info col-md-8">
                        <h2>Interested in a demo?</h2>
                        <p>
                            Simply log in as our demo user.
                        <ul>
                            <li>Email: {{ FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS[0] }}</li>
                            <li>Password: {{ FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS[1] }}</li>
                        </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
{% include 'teaser.html' %}
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

{% endblock divs %}
