{% extends "base.html" %}

{% set active_page = "logged-in-user" %}

{% block title %} Please log in {% endblock %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block divs %}

<div class="container-fluid">
    <div class="row" style="text-align: center; padding-bottom: 30px;">
        <div class="col-md-12">
            {% block platform_title %}
            <h1>The FlexMeasures Platform</h1>
            {% endblock platform_title %}
            {% include "security/_messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="login-form">
                    <h1>{{ _fsdomain('Login') }}</h1>
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}
                        {{ render_field_with_errors(login_user_form.email) }}
                        {{ render_field_with_errors(login_user_form.password) }}
                        {{ render_field_with_errors(login_user_form.remember) }}
                        {{ render_field(login_user_form.submit) }}
                    </form>
                    <form action="/reset" method="get">
                        <button class="btn btn-sm btn-responsive btn-link" type="submit">Forgot password?</button>
                    </form>
                    {% if FLEXMEASURES_MODE == "demo" and FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS %}
                    <div class="alert alert-info col-md-8">
                        <h2>Interested in a demo?</h2>
                        <p>
                            Simply log in as our demo user.
                        <ul>
                            <li>Email: {{ FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS[0] }}</li>
                            <li>Password: {{ FLEXMEASURES_PUBLIC_DEMO_CREDENTIALS[1] }}</li>
                        </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                {% block teaser %}
                <div class="carousel-container">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="ui/static/images/flexmeasures-preview.jpg"
                                    alt="The FlexMeasures platform on a laptop."
                                    title="FlexMeasures provides in-depth analytics of flexibility in your portfolio."
                                >
                                <div class="carousel-caption">
                                    In-depth analytics of flexibility in your portfolio.
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="ui/static/images/tj-k-349056-unsplash.jpg"
                                     alt="A landscape with wind farms."
                                     title="FlexMeasures helps to forecast costs and revenues with precision."
                                >
                                <div class="carousel-caption">
                                    Costs and revenues forecast with precision.
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="ui/static/images/chase-lewis-506404-unsplash.jpg"
                                     alt="A tesla charging station."
                                     title="FlexMeasures provides charging strategies that help balance the grid."
                                >
                                <div class="carousel-caption">
                                    Charging strategies that help balance the grid.
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {% endblock teaser %}
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

{% endblock divs %}
