    <div class="carousel-container">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="ui/static/images/flexmeasures-preview.jpg"
                        alt="The FlexMeasures platform on a laptop."
                        title="FlexMeasures provides in-depth analytics of flexibility in your portfolio."
                    >
                    <div class="carousel-caption">
                        In-depth analytics of flexibility in your portfolio.
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="ui/static/images/tj-k-349056-unsplash.jpg"
                            alt="A landscape with wind farms."
                            title="FlexMeasures helps to forecast costs and revenues with precision."
                    >
                    <div class="carousel-caption">
                        Costs and revenues forecast with precision.
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="ui/static/images/chase-lewis-506404-unsplash.jpg"
                            alt="A tesla charging station."
                            title="FlexMeasures provides charging strategies that help balance the grid."
                    >
                    <div class="carousel-caption">
                        Charging strategies that help balance the grid.
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>